/*! fancyBox v2.0.6 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-tmp iframe, .fancybox-tmp object {
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	padding: 0;
	margin: 0;
	color: #444;
	background: #fff;
	text-shadow: none;
	
	border: 1px solid #cacaca;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.fancybox-opened {
	z-index: 8030;
}


.fancybox-outer, .fancybox-inner {
	padding: 0px;
	margin: 0;
	position: relative;
	outline: none;
}

.fancybox-inner {
	margin: 0px;
}
.fancybox-inner .watermark {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0px 0px -114px;
}

/*.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}*/
.fancybox-type-iframe {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 10px;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

.fancybox-image {
	width: 100%;
	height: 100%;
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8020;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: 0px;
	right: 10px;
	width: 65px;
	height: 15px;
	cursor: pointer;
	z-index: 8040;
}
.fancybox-close:hover {
	background: url('../i/sprite.png') -27px -1820px no-repeat;
}
.fancybox-close:active {
	background: url('../i/sprite.png') -55px -1820px no-repeat;
}

.fancybox-nav {
	position: absolute;
	top: 30px;
	width: 40%;
	height: 100%;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	bottom: 10px;
	width: 100%;
	cursor: pointer;
	z-index: 8040;
	white-space: nowrap;
	color:#790000;
}

.fancybox-prev span {
	left: 5px;
	text-align: left;
	font-family: Myriad Pro;
}

.fancybox-next span {
	right: 5px;
	text-align: right;
	font-family: Myriad Pro;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -9999px;
	left: -9999px;
	padding: 0;
	overflow: visible;
	visibility: hidden;
}

/* Overlay helper */

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: #000;
}

#fancybox-overlay.overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	top: 10px;
	left: 15px;
	z-index: 8030;
	text-align: left;
	font-weight: bold;
	font-size: 14px;
	color: #000;
	font-family: Myriad Pro;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	color: #000;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	margin-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}