* {
	margin: 0px;
	padding: 0px;
}

html {height: 100%;}
body {
	height: 100%;
	font-size: 0.85em;
	background: url('../i/header-bg.gif') 0 0 repeat-x #fff;
	font-family: Tahoma;
}

a {
	text-decoration: underline;
	color: #0d9d07;
}
a:hover {
	color: #de0000;
}

.rgt li{
                cursor:pointer;
            }
            .rgt ul li ul{
                display: none;
            }
            .rgt .active > ul{
                display:block;
            }
/*div.fancybox-skin{
	display: none;
}*/





ul {
	list-style-type: none;
}
table {
	width: 100%;
	border-collapse: collapse;
}
h2 {
	font-family: Georgia;
	font-style: italic;
	font-size: 21px;
	font-weight: normal;
	line-height: 24px;
	color: #de0000;
	margin-bottom: 10px;
}
h2 a.breadcrumps {
	font-family: Arial;
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
	line-height: 24px;
	color: #b3b3b3;
	margin-left: 10px;
}

.lastClass{
	font-family: Arial;
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
	line-height: 24px;
	color: #b3b3b3;
	margin-left: 10px;
}

h2 a.breadcrumps:hover {
	color: #de0000;
}
h3 {
	font-family: Georgia;
	font-style: italic;
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
	color: #de0000;
}
.pseudolink {
	color: #0d9d07;
	border-bottom: 1px dashed #0d9d07;
	cursor: pointer;
	font-family: Tahoma;
}
.pseudolink:hover {
	color: #de0000;
	border-bottom: 1px dashed #de0000;
}

#layout {
	min-width: 1000px;
	min-height: 100%;
	position: relative;
	overflow: hidden;
	z-index: 2;
	background: url('../i/footer-bg.gif') 0 100% repeat-x;
}
#layout_reduser{
	width: 856px;
	margin: 0px auto;
	padding: 0px 69px;
	overflow: hidden;
}
.block {
	overflow: hidden;
	margin-bottom: 10px;
}
.block_padd {
	overflow: hidden;
	padding: 0px 3px 3px;
}
.l {
	float: left;
	width: 560px;
	margin-right: -580px;
	padding: 0px 10px;
	soverflow: hidden;
}
.r {
	margin-left: 580px;
	padding: 0px 10px;
}
/* <<<< #header */
#header {
	overflow: hidden;
	padding: 0px 0px 8px;
}
/* Ìåíþ */
.menu_bg {
	height: 40px;
	overflow: hidden;
	background: transparent url('../i/sprite.png') 50% 0 repeat-x;
	border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	box-shadow: 0px 0px 1px #000 inset;
	margin: 0px 3px 15px;
}
.menu {
	font-family: Georgia;
	font-size: 16px;
	font-style: italic;
}
.menu td {
	height: 40px;
	text-align: center;
	vertical-align: middle;
}
.menu_item {
	display: block;
	height: 40px;
	border-right: 1px solid #137b13;
	border-left: 1px solid #4ab84d;
}
.curr.menu_item {
	box-shadow: 0px 0px 1px #000 inset;
	background: transparent url('../i/sprite.png') 50% -75px no-repeat;
}
.menu a {
	color: #fff;
	text-shadow: -1px -1px 1px #1f8226;
	line-height: 39px;
	text-decoration: none;
}
.menu a:hover {
	text-decoration: underline;
}
.menu span {
	color: #333333;
	text-shadow: 1px 1px 1px #fff;
	line-height: 39px;
}
.first .menu_item {
	border-left: none;
	border-radius: 0px 0px 0px 7px;
	-moz-border-radius: 0px 0px 0px 7px;
	-webkit-border-radius: 0px 0px 0px 7px;
}
.menu td.last {
	width: 234px;
}
.last .menu_item {
	border-right: none;
	border-radius: 0px 0px 7px 0px;
	-moz-border-radius: 0px 0px 7px 0px;
	-webkit-border-radius: 0px 0px 7px 0px;
}
.curr_page_icon {
	width: 7px;
	height: 5px;
	background: url('../i/sprite.png') -622px -62px no-repeat;
	display: none;
	bottom: -30px;
	margin-right: -3px;
}
.menu_item.curr .curr_page_icon {
	display: block;
}
/* Øàïêà */
#logo {
	width: 434px;
	float: left;
	margin-right: -434px;
}
.header_reduser {
	margin-left: 500px;
}
.header_phones {
	float: left;
	width: 200px;
	margin-right: -200px;
}
.header_phones p {
	font-size: 24px;
	line-height: 17px;
	color: #dc0000;
	margin-bottom: 11px;
	font-family: Georgia;
}
.header_phones span{
	font-size: 12px;
	color: #b3b3b3;
	font-family: Tahoma;
	position: relative;
	top: -4px;
}
.user_block {
	margin-left: 170px;
}
#login {
	overflow: hidden;
	margin-bottom: 16px;
}
#login a {
	float: right;
	font-size: 12px;
	text-decoration: none;
}
#login .separator {
	color: #b3b3b3;
	margin: 0px 5px;
}
.order_call {
	overflow: hidden;
}
.order_call .pseudolink {
	float: right;
	font-weight: bold;
	font-size: 12px;
	position: relative;
	padding-left: 15px;
	padding-bottom: 2px;
	text-decoration: none;
}
.order_call_icon {
	position: absolute;
	width: 11px;
	height: 11px;
	background: url('../i/sprite.png') -8px -40px no-repeat;
	left: 0px;
	top: 2px;
}
.cart_block {
	overflow: hidden;
	position: relative;
	background: #fff;
	box-shadow: 0px 0px 2px #d9d6d4;
	-moz-box-shadow: 0px 0px 2px #d9d6d4;
	-webkit-box-shadow: 0px 0px 2px #d9d6d4;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 10px 10px 0px;
}
.cart_block p {
	font-size: 12px;
	line-height: 24px;
	color: #333333;
	margin-bottom: 5px;
}
.cart_block strong {
	margin-right: 10px;
}
/* #header >>>> */

/* <<<< #conteiner */
#conteiner {
	soverflow: hidden;
	position: relative;
	width: 850px;
	margin: 0px auto;
}
.conteiner_reduser {
	overflow: hidden;
	position: relative;
	background: #fff;
	box-shadow: 0px 0px 2px #d9d6d4;
	-moz-box-shadow: 0px 0px 2px #d9d6d4;
	-webkit-box-shadow: 0px 0px 2px #d9d6d4;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 10px 0px;
}

.die_krupps{
	
	font-family: Arial;
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
	line-height: 24px;
	color: #B3B3B3;
	margin-left: 10px;
}

.invis{
	display: none;
}

.error{
	color: red;
}

/*  */
.adviser_block {
	padding: 20px 20px 23px;
	background: #fc8c95;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	position: relative;
	margin-bottom: 2px;
}
.adviser_block h2 {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	/*border-bottom: 1px dashed #fff;*/
	/*line-height: 20px;*/
}
.adviser_img {
	position: absolute;
	width: 69px;
	height: 75px;
	right: 15px;
	bottom: 0px;
}
.yandex_search {
	height: 33px;
	margin-bottom: 3px;
}
.ya-page_js_yes .ya-site-form_inited_no { display: none; }

/* Êàòàëîã */
.catalogue_block {
	overflow: hidden;
	margin: 0px 0px 20px;
}
.catalogue_head {
	height: 20px;
	padding: 10px;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	background: #fa404f;
	margin-bottom: 10px;
}
.catalogue_head h3 {
	color: #fff;
	line-height: 20px;
}
.catalogue_head .arrow {
	float: left;
	width: 12px;
	height: 12px;
	margin: 5px 10px 0px 0px;
	background: url('../i/sprite.png') -89px -62px no-repeat;
}
.catalogue_list {
	padding: 0px 10px;
}
.catalogue_list li{
	font-size: 14px;
	line-height: 14px;
	padding: 0px 0px 0px 10px;
	background: url('../i/cat-arr.png') 0 5px no-repeat;
	overflow: hidden;
}
.catalogue_list li ul{
	clear: left;
	overflow: hidden;
}
.catalogue_list li ul li{
	clear: left;
	overflow: hidden;
	font-size: 12px;
	line-height: 12px;
	background: url('../i/cat-arr-inside.png') 0 4px no-repeat;
}
.catalogue_list li span,
.catalogue_list li a {
	margin: 0px 0px 10px;
	display: block;
	float: left;
	clear: left;
}
.catalogue_list li span{
	color: #fa404f;
	font-weight: bold;
}
.catalogue_list li.curr {
	background: url('../i/cat-arr-curr.png') 0 5px no-repeat;
}
.catalogue_list li ul li.curr {
	background: url('../i/cat-arr-inside-curr.png') 0 4px no-repeat;
}

.filter_block {
	margin: 0px 0px 30px;
}
.form_btns {
	overflow: hidden;
}
.filter_block select {
	height: 24px;
	padding: 4px;
	sborder-radius: 4px;
	s-moz-border-radius: 4px;
	s-webkit-border-radius: 4px;
	border: 1px solid #d9d9d9;
	width: 250px;
	margin-bottom: 9px;
	color: #b3b3b3;
	font-size: 12px;
	font-family: Tahoma;
	line-height: 22px;
	outline: none;
	sbox-shadow: 0px 2px 2px #d9d9d9 inset;
}
.filter_block .cusel {
	margin-bottom: 9px;
	color: #b3b3b3;
	font-size: 12px;
	font-family: Tahoma;
}
.submit {
	float: left;
	height: 26px;
	border-top: 1px solid #4cbc5b;
	border-left: 1px solid #2d9e37;
	border-right: 1px solid #2d9e37;
	border-bottom: 1px solid #20a41b;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-right: 8px;
	position: relative;
	z-index: 2;
	overflow: hidden;
}
.submit:hover {
	border-top: 1px solid #d8d9d9;
	border-left: 1px solid #cacccc;
	border-right: 1px solid #cacccc;
	border-bottom: 1px solid #bcbdbe;
}
.submit div, 
.submit input,
.submit a {
	height: 26px;
	border-left: 1px solid #3db343;
	border-right: 1px solid #3db343;
	border-bottom: 1px solid #0d8e0a;
	border-top: none;
	background: url('../i/sprite.png') 50% 0 repeat-x;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0px 18px;
	font-size: 14px;
	font-family: Georgia;
	font-style: italic;
	color: #fff;
	text-shadow: -1px -1px 1px #1f8226;
	cursor: pointer;
	line-height: 24px;
	display: block;
	text-decoration: none;
	text-align: center;
}
.submit:hover div, 
.submit:hover input,
.submit:hover a {
	background: url('../i/sprite.png') 50% -222px repeat-x;
	border-left: 1px solid #e3e4e4;
	border-right: 1px solid #e3e4e4;
	border-bottom: 1px solid #d2d4d5;
	color: #333333;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.reset {
	float: left;
	height: 26px;
	border-top: 1px solid #bec0c1;
	border-left: 1px solid #cbcccd;
	border-right: 1px solid #cbcccd;
	border-bottom: 1px solid #d8d8d8;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
	z-index: 2;
	overflow: hidden;
}
.reset:hover {
	border-top: 1px solid #9a9b9e;
	border-left: 1px solid #aeafb1;
	border-right: 1px solid #aeafb1;
	border-bottom: 1px solid #c5c6c6;
}
.reset a,
.reset input {
	height: 26px;
	background: url('../i/sprite.png') 50% -196px repeat-x;
	border-left: 1px solid #e8e9e9;
	border-right: 1px solid #e8e9e9;
	border-bottom: 1px solid #f0f1f1;
	border-top: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0px 18px;
	font-size: 14px;
	font-family: Georgia;
	font-style: italic;
	color: #333333;
	text-shadow: 1px 1px 1px #fff;
	line-height: 26px;
	cursor: pointer;
	display: block;
	text-decoration: none;
	text-align: center;
}
.reset:hover a,
.reset:hover input {
	border-left: 1px solid #c8c9cb;
	border-right: 1px solid #c8c9cb;
	border-bottom: 1px solid #d9dadb;
	background: url('../i/sprite.png') 50% -166px repeat-x;
	color: #fff;
	text-shadow: 1px 1px 1px #333333;
}
.reset a {
	sheight: 25px;
}

.services_block {
	overflow: hidden;
	margin: 0px 0px 20px;
}
.services_block ul {
	padding: 3px 0px;
}
.services_block li {
	background: url('../i/menu-orn-2.png') 0 50% no-repeat;
	padding: 0px 10px;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 12px;
}

/* Ñëàéä áàííåð */
.slide_banner_block {
	position: relative;
	height: 200px;
	box-shadow: 0px 1px 3px #cacaca;
	-moz-box-shadow: 0px 1px 3px #cacaca;
	-webkit-box-shadow: 0px 1px 3px #cacaca;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-bottom: 29px;
}
.slide_banner_list {
	position: relative;
	overflow: hidden;
	height: 200px;
	z-index: 1;
}
.slide_banner_item {
	width: 560px;
	height: 200px;
	position: relative;
	margin-bottom: 10px;
}
.slide_banner_item img {
	width: 560px;
	height: 200px;
	position: relative;
	z-index: 1;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.slide_banner_item h3 {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 540px;
	height: 34px;
	padding: 0px 10px;
	line-height: 34px;
	z-index: 2;
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
}
.slide_banner_item h3 span {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 560px;
	height: 34px;
	background: #000;
	opacity: 0.35;
	z-index: 1;
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
}
.slide_banner_item h3 a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	position: relative;
	z-index: 2;
	line-height: 30px;
}
.adviser_block h3 a:hover,
.slide_banner_item h3 a:hover {
	border-bottom: 1px solid #cccccc;
	color: #cccccc; 
}
.slide_banner_prev {
	position: absolute;
	left: -2px;
	top: 85px;
	width: 35px;
	height: 35px;
	background: url('../i/sprite.png') -19px -40px no-repeat;
	z-index: 2;
	cursor: pointer;
}
.slide_banner_next {
	position: absolute;
	right: -3px;
	top: 85px;
	width: 35px;
	height: 35px;
	background: url('../i/sprite.png') -54px -40px no-repeat;
	z-index: 2;
	cursor: pointer;
}
.slide_banner_prev:hover {
	background: url('../i/sprite.png') -227px -115px no-repeat;
}
.slide_banner_next:hover {
	background: url('../i/sprite.png') -262px -115px no-repeat;
}

.list_block {
	position: relative;
	padding: 0px 13px;
	height: 305px;
}
.list {
	position: relative;
	overflow: hidden;
	padding: 5px 0px 0px;
	height: 300px;
}
.list_ {
	position: relative;
	width: 10000px;
}
.list_item {
	float: left;
	width: 170px;
	height: 270px;
	position: relative;
	margin: 0px 4px 0px;
	text-align: center;
}
.list_item_img {
	width: 170px;
	height: 170px;
	position: relative;
	margin-bottom: 13px;
	display: block;
}
.list_item_img .new {
	position: absolute;
	width: 50px;
	height: 28px;
	z-index: 2;
	right: 0px;
	top: -6px;
	background: url('../i/sprite.png') -562px -41px no-repeat;
}
.list_item_img img {
	position: relative;
	z-index: 1;
}
.list_item_price {
	position: absolute;
	width: 100%;
	bottom: -10px;
	left: 0px;
	height: 28px;
	z-index: 2;
	text-align: center;
}
.list_item_price span.rur span {
	margin: 0.25ex 0 0 -0.6em;
}
.list_item_price em {
	font-family: Georgia;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	background: #fa404f;
	height: 20px;
	line-height: 20px;
	padding: 4px 13px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #fc8c95;
	opacity: 0.6;
}
.list_item_name {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 2px;
}
.list_item_desc {
	font-size: 12px;
	line-height: 20px;
	color: #808080;
}
.slide_prev {
	position: absolute;
	left: 0px;
	top: 60px;
	width: 10px;
	height: 15px;
	background: url('../i/sprite.png') -612px -41px no-repeat;
	z-index: 2;
	cursor: pointer;
}
.slide_next {
	position: absolute;
	right: 0px;
	top: 60px;
	width: 10px;
	height: 15px;
	background: url('../i/sprite.png') -612px -57px no-repeat;
	z-index: 2;
	cursor: pointer;
}


/* Î íàñ */
.about {
	overflow: hidden;
	padding: 20px 0px 0px;
	margin-bottom: -15px;
	background: url('../i/ornament-pattern.gif') 0 0 repeat-x #ede7e2;
	min-height: 220px;
	font-size: 12px;
}
.about h3 {
	font-size: 21px;
	color: #dc0000;
}
.date {
	color: #4d4d4d;
}
.news {
	margin-bottom: 5px;
}
.about .l p {
	margin-bottom: 10px;
}
.about p {
	line-height: 21px;
}

/* Ïîäâàë êîíòåíò */
.conteiner_footer_spacer {
	clear: both;
	height: 170px;
}
.conteiner_footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	height: 170px;
}
.conteiner_footer p {
	font-size: 12px;
	line-height: 14px;
	color: #b3b3b3;
	margin-bottom: 12px;
}
.bottom_menu {
	position: relative;
	height: 75px;
	margin-bottom: 20px;
	background: url('../i/menu-orn.png') 0 0 repeat-x;
}
.bottom_menu a {
	font-size: 12px;
	color: #fff;
	line-height: 74px;
	margin-right: 21px;
}
.bottom_menu a:hover {
	color: #ccc;
	text-decoration: none;
}
.bottom_menu span {
	font-size: 12px;
	color: #fff;
	line-height: 74px;
	margin-right: 21px;
}
#adviser {
	position: relative;
	left: 20px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dashed #fff;
}
#adviser:hover {
	border-bottom: 1px dashed #ccc;
}
.adviser_icon {
	position: absolute;
	width: 17px;
	height: 15px;
	left: -20px;
	top: 0px;
	background: url('../i/sprite.png') -2px -51px no-repeat;
	margin: 0px;
	font-size: 0px;
	line-height: 0px;
}
.payments div {
	float: left;
	width: 51px;
	height: 31px;
	margin-right: 3px;
	background-image: url('../i/sprite.png');
}
.network a {
	float: left;
	width: 25px;
	height: 25px;
	margin: 2px 3px 0px 0px;
	background-image: url('../i/sprite.png');
}
.pay_1 {
	background-position: -151px -40px;
}
.pay_2 {
	background-position: -202px -40px;
}
.pay_3 {
	background-position: -253px -40px;
}
.pay_4 {
	background-position: -304px -40px;
}
.pay_5 {
	background-position: -356px -40px;
}
.pay_6 {
	background-position: -408px -40px;
}
.pay_7 {
	background-position: -459px -40px;
}
.pay_8 {
	background-position: -511px -40px;
}
.netw_1 {
	background-position: -875px -41px;
}
.netw_2 {
	background-position: -900px -41px;
}
.netw_3 {
	background-position: -925px -41px;
}
.netw_4 {
	background-position: -950px -41px;
}
.netw_5 {
	background-position: -975px -41px;
}
/*Bodzik*/
/*--item*/
.breadcrumbs {
	padding-bottom: 15px;
	overflow: hidden;
	border-bottom: 1px solid #d9d9d9;
	font-size: 12px;
	padding-top: 2px;
}
.breadcrumbs li {
	float: left;
	margin-right: 5px;
}
.breadcrumbs li,
.breadcrumbs li span,
.breadcrumbs li a {
	color: #b3b3b3;
}
.breadcrumbs li a:hover {
	color: #de0000;
	text-decoration: none;
}
h2.border {
	padding-bottom: 4px;
	border-bottom: 1px solid #d9d9d9;
	line-height: 38px;
	position: relative;
}
/* filter_category */
.filter_category {
	position: absolute;
	right: 0px;
	top: 9px;
	height: 25px;
}
.filter_category_block {
	float: right;
	margin-left: 20px;
}
.filter_category_block p {
	font-size: 12px;
	line-height: 25px;
	font-family: Tahoma;
	font-style: normal;
	color: #b3b3b3;
	float: left;
	margin-right: 10px;
}
.filter_category_block select {
	height: 24px;
	color: #b3b3b3;
	font-size: 12px;
	font-family: Tahoma;
	line-height: 22px;
	outline: none;
}
.long select,
.long .cusel {
	width: 110px;
}

/*#show_cat{
	float: left;
	margin-right: 200px;
}*/

.short select,
.short .cusel {
	width: 55px;
}
.filter_category_block .cuselText {
	color: #b3b3b3;
	font-size: 12px;
	font-family: Tahoma;
	font-style: normal;
	line-height: 14px;
}
/* filter_category */

.item_block {
	padding-top: 20px;
	padding-bottom: 30px;
	overflow: hidden;
}
.item_block .catalogue_list li {
	font-size: 12px;
	line-height: 12px;
	color: #b3b3b3;
	background: url('../i/cat-arr-inside.png') 0 4px no-repeat;
}
.item_block .l {
	width: 277px;
	padding: 0;
	margin-right: -277px;
}
.lit_prev {
	display: block;
	position: relative;
	width: 52px;
	height: 52px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 1px 2px 3px #e7e7e7;
	float: left;
	margin-right: 23px;	
}
.lit_prev.last {
	margin-right: 0px;
}
.lit_prev div {
	width: 18px;
	height: 15px;
	position: absolute;
	left: 15px;
	top: 17px;
}
.lit_prev img {
	opacity: 0.4;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.lit_prev:hover div {
	background: url('../i/sprite.png') -639px -47px no-repeat;
}
.lit_prev.curr div {
	background: url('../i/sprite.png') -639px -47px no-repeat;
}
.lit_prev.curr img {
	opacity: 0.6;
}
.item_block .r {
	margin-left: 285px;
	padding: 0px;
}

.round_item {
	width: 270px;
	height: 270px;
	padding-top: 5px;
	padding-left: 5px;	
	position: relative;	
	display: block;
	margin-bottom: 15px;	
	border: 1px solid #dfdfdf;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	box-shadow: 1px 1px 1px #dfdfdf;
	z-index: 1;
}
.watermark {
	width: 227px;
	height: 51px;
	background: url('../i/sprite.png') 0px -115px no-repeat;
}
.round_item .watermark {
	position: absolute;
	left: 25px;
	top: 115px;
}
.round_item p {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 2;
}
.round_item p span {
	padding-left: 27px;
	cursor: pointer;
	text-decoration: underline;
	color: #b3b3b3;
	position: relative;
	font-size: 12px;
	line-height: 12px;
}
.round_item p span:hover {
	text-decoration: none;
	color: #de0000;
}
.round_item p span em {
	position: absolute;
	width: 17px;
	height: 15px;
	left: 0px;
	top: 1px;
	background: url('../i/sprite.png') -622px -47px no-repeat;
}

.item_block .ovh {
	margin-bottom: 5px;
}
.item_block .ovh .span {
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	width: 60px;
	float: left;
	margin-right: -60px;
	display: block;
}
.item_block .catalogue_list {
	padding: 0px;
	margin-left: 60px;
}
.item_block p {
	font-size: 12px;
	color: #808080;
	line-height: 21px;
	margin-bottom: 15px;
}
.item_block .r .list_item_price {
	position: static;
	float: left;
	text-align: left;
	width: 102px;
	margin-right: -102px;
}
.item_block .r .list_item_price em {
	opacity: 1;
	display: block;
}
.item_block .r .submit {
	float: none;
	margin-right: 0px;
	margin-left: 110px;
}
.item_block .r .submit div {
	padding: 0px 11px;
}

/*.video_block {
	width: 560px;
	height: 350px;
	margin-bottom: 30px;
}*/
/*--item*/

/*reviews*/
.inputs_block {
	padding-top: 15px;
	padding-bottom: 30px;
	overflow: hidden;
}
.inputs_block p {
	font-size: 12px;
	line-height: 21px;
	color: #b3b3b3;
}
.inputs_block p strong {
	color: #333333;
}
.inputs_block_text {
	margin-bottom: 25px;
}
.inputs_block .l {
	padding: 0px;
	width: 60px;
	margin-right: -60px;
}
.inputs_block .r {
	margin-left: 60px;
	padding: 0px;
}
.inputs_block .ovh {
	margin-bottom: 10px;
}
.inputs_block label {
	color: #333333;
	cursor: pointer;
	font-size: 12px;
	line-height: 22px;
}
textarea,
.input {
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: block;
	line-height: 22px;
	color: #b3b3b3;
	font-size: 12px;
	text-indent: 10px;
	background: url('../i/fld.gif') 0 0 repeat-x #fff;
	resize: vertical;
}
#textarea,
.inputs_block input {
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: block;
	line-height: 22px;
	color: #b3b3b3;
	font-size: 12px;
	text-indent: 10px;
	background: url('../i/fld.gif') 0 0 repeat-x #fff;
}
.inputs_block input {
	width: 248px;
	height: 23px;
}
#textarea {
	height: 100px;
	width: 488px;
	font-family: tahoma;
	resize: vertical;
}
.inputs_block .submit {
	margin-left: 60px;
}
.comment_ {
	margin-bottom: 20px;
	font-size: 12px;
}
.comment_ div {
	position: relative;
	background: #dbf6da;
	color: #333333;	
	line-height: 21px;
	padding: 5px 10px 8px 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 17px;
}
.comment_ div em {
	position: absolute;
	width: 20px;
	height: 12px;
	background: url('../i/sprite.png') -657px -57px no-repeat;
	bottom: -12px;
	left: 17px;
}
.comment_ p {
	color: #b3b3b3;
}
/*--reviews*/
/*--Bodzik*/

/* Êîíòàêòû */
.cont_info {
	overflow: hidden;
	font-size: 12px;
	line-height: 14px;
	color: #333333;
	margin-bottom: 20px;
}
.contacts_l {
	float: left;
	width: 100px;
	padding-right: 20px;
	margin-right: -120px;
	text-transform: uppercase;
	text-align: right;
	font-weight: bold;
}
.contacts_r {
	margin-left: 120px;
}
.cont_info.sup {
	margin-bottom: 17px;
}
.cont_info.last {
	margin-bottom: 30px;
}
.sup .contacts_r {
	position: relative;
	top: -3px;
}
.red_day {
	margin-left: 10px;
}
.red_day em {
	color: #dc0000;
	font-style: normal;
}
.map_block {
	overflow: hidden;
}
/* Íåàâòîðèçâîàí */
.notify_block {
	overflow: hidden;
	margin-bottom: 10px;
	padding: 6px 10px;
	background: url('../i/notify-bg.gif') 0 0 repeat;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.notify_block .close {
	float: left;
	width: 11px;
	height: 11px;
	margin: 6px -11px 0px 0px;
	background: url('../i/sprite.png') -102px -63px no-repeat;
	cursor: pointer;
}
.notify_block p {
	margin-left: 21px;
	font-size: 12px;
	line-height: 20px;
	color: #dc0000;
}
/* Ïåéäæåð */
.paginator_outer {
	margin-bottom: 25px;
	padding: 8px 0px 10px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	soverflow: hidden;
}
.paginator {
	overflow: hidden;
	font-style: italic;
	font-size: 16px;
	font-family: georgia;
}
.paginator.l {
	width: 285px;
	margin-right: -285px;
	padding: 4px 0px 0px;
}
.paginator li {
	float: left;
	margin-right: 10px;
}
.paginator li a {
	position: relative;
}
.paginator li span {
	color: #b3b3b3;
}
.paginator li a em {
	position: absolute;
	width: 7px;
	height: 6px;
	top: 7px;
}
.paginator li.prev a i {
	padding-left: 11px;
}
.paginator li.prev a em {
	left: 0px;
	background: url('../i/sprite.png') -628px -41px no-repeat;
}
.paginator li.next a i {
	padding-right: 11px;
}
.paginator li.next a em {
	background: url('../i/sprite.png') -635px -41px no-repeat;
	right: 0px;
}
.paginator_outer .filter_category_block {
	float: none;
	margin-left: 348px;
}
.paginator_outer .filter_category_block .short .cusel {
	float: right;
	soverflow-x: hidden;
}
.paginator_outer .filter_category_block p {
	line-height: 25px;
	text-align: right;
	float: right;
}
/* */
/* #conteiner >>>> */

/* <<<< #footer */
/* Ïîäâàë êîïèðàéò */
#footer_spacer {
	clear: both;
	height: 100px;
}
#footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	height: 80px;
}
.footer_reduser {
	position: relative;
	overflow: hidden;
	width: 850px;
	margin: 0px auto;
	padding-top: 17px;
}
.autor_link {
	float: right;
	overflow: hidden;
	text-decoration: none;
}
.autor_link em {
	width: 62px;
	height: 21px;
	background: url('../i/sprite.png') -89px -41px no-repeat;
	margin: 0px 0px 0px -62px;
	float: right;
}
.autor_link span {
	margin-right: 65px;
	line-height: 22px;
	font-size: 12px;
	color: #4d4d4d;	
}
.copy {
	margin-right: 100px;
}
.copy p {
	font-size: 12px;
	color: #4d4d4d;
	line-height: 12px;
	margin-bottom: 9px;
}
.copy a {
	color: #fa404f;
}
.copy a:hover {
	color: #0D9D07;
	text-decoration: none;
}
/* #footer >>>> */

/* <<<< */
.clear {
	clear: both;
}
.hidden {
	display: none;
}
.ovh {
	overflow: hidden;
}
.c {
	float: left;
	position: relative;
	left: 50%;
}
.cc {
	float: left;
	position: relative;
	left: -50%;
}
.fll {
	float: left;
}
/* >>>> */


/* Ïîïàïû */
.popup {
	width: 560px;
	margin: 0 auto 10px;
	spadding-bottom: 7px;
}
.popup.short {
	width: 450px;
}
.popup_reduser {
	spadding: 0px 10px 3px;
	soverflow: hidden;
	position: relative;
}
.popup h2.border {
	padding: 0px;
	line-height: 44px;
	margin-top: -10px;
}
.popup_close {
	float: right;
	text-decoration: underline;
	font-size: 10px;
	text-transform: uppercase;
	color: #b3b3b3;
	padding-right: 11px;
	position: relative;
	line-height: 100%;
	margin-top: 18px;
	cursor: pointer;
	font-style: normal;
	font-weight: bold;
	font-family: tahoma;
}
.popup_close:hover {
	text-decoration: none;
}
.popup_close em {
	position: absolute;
	right: 0px;
	top: 2px;
	background: url('../i/sprite.png') -622px -67px no-repeat;
	width: 6px;
	height: 6px;
}
.form_table .input {
	height: 23px;
	line-height: 22px;
	width: 248px;
	resize: none;
}
.form_table {
	margin-bottom: 10px;
}
.popup table td {
	padding-bottom: 10px;
	font-size: 12px;
}
.popup .appearance_inputs_table {
	table-layout: fixed;
}
.appearance_inputs_table .label {
	white-space: nowrap;
}
.appearance_inputs_table .ovv {
	overflow: visible;
}
.appearance_inputs_table .ovv div {
	position: relative;
}
.appearance_inputs_table .ovv div div.checkbox{
	position: absolute;
	left: 0px;
	top: 0px;
}
.appearance_inputs_table .sms_mail {
	white-space: nowrap;
	position: relative;
	left: -140px;
}
input.radio {
	height: 13px;
	width: 13px;
	margin-right: 10px;
	float: left;
	margin-top: 3px;
}
.popup .short {
	width: 55px;
}
.form_table span,
.form_table select {
	position: relative;
	top: -3px;
	float: left;
	margin-right: 10px;
}
.form_table span {
	top: 0px;
}
.label span {
	color: #dc0000;
	position: static;
	top: 0px;
	float: none;
}
.tr_last td {
	border-bottom: 1px solid #d9d9d9;
}
.list_item.add .list_item_desc {
	padding-bottom: 10px;
}
.popup .list {
	margin-bottom: 10px;
	border-bottom: 1px solid #d9d9d9;
	height: auto;
}
.list_item.add .pseudolink {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 15px;
    position: relative
}
.add_item_icon {
	position: absolute;
	left: 0px;
	top: 3px;
	width: 8px;
	height: 8px;
	background: url('../i/sprite.png') -630px -62px no-repeat;
}
.submit.flr {
	float: right;
	margin-right: 0px;	
}
.form_table.grey td {
	background: #f2f2f2;
}
.form_table.grey .label_td {
	padding-left: 10px;
}
.first_tr td {
	padding-top: 10px;
}
.appearance_l {
	float: left;
	width: 13px;
	margin-right: -13px;
}
.appearance_r {
	margin-left: 27px;
	overflow: hidden;
}
.appearance_r.label,
.appearance_r .label {
	line-height: 14px;
	margin-bottom: 3px;
	display: block;
	font-size: 12px;
}
.appearance_r p {
	color: #b3b3b3;
	line-height: 21px;
	font-size: 12px;
	padding-bottom: 5px;
}
.appearance_r p a {
	color: #b3b3b3;
}
.appearance_r p a:hover {
	color: #de0000;
}
.label_td_long {
	width: 140px;
}
.field_td {
	width: 240px;
	overflow: hidden;
}
.field_td .input {
	height: 23px;
	width: 238px;
}
.popup table .tip_td {
	color: #b3b3b3;
	padding-left: 10px;
}
.popup_bd_block {
	padding-bottom: 7px;
	margin-bottom: 10px;
	border-bottom: 1px solid #d9d9d9;
}
.popup_bd_block.no_pd {
	padding-bottom: 0px;
}
.appearance_inputs_table {
	margin-bottom: 10px;
}
.btn_l {
	float: left;
	width: 50%;
	margin-right: -100%;
	position: relative;
	z-index: 2;
}
.btn_r {
	margin-left: 50%;
	position: relative;
	z-index: 2;
}
.reset.long_padd input ,
.submit.long_padd input {
	padding: 0px 18px;
}
.reset.short_padd input ,
.submit.short_padd input {
	padding: 0px 10px;
}
.popup.long .btn_l .submit {
	float: left;
}
.popup.long .btn_r .submit,
.popup.long .btn_r .reset {
	float: right;
}
.tip_info {
	color: #333333;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 15px;
}
.date_input {
	position: relative;
	width: 88px;
}
.date_input span {
	width: 16px;
	height: 17px;
	position: absolute;
	background: url('../i/sprite.png') -657px -41px no-repeat;
	right: -6px;
	top: 5px;
}
.date_input .input {
	width: 88px;
}
.popup .input {
	color: #333333;
}

div.checkbox {
	position: relative;
}
div.checkbox div {
	float: left;
	width: 17px;
	height: 17px;
	margin: 0px 5px 0px 0px;
	background: url('../i/sprite.png') -855px -40px no-repeat;
	cursor: pointer;
}
div.checkbox.checked div {
	background: url('../i/sprite.png') -838px -40px no-repeat;
}
div.checkbox input {
	position: absolute;
	left: -10000px;
}

div.radio {
	position: relative;
}
div.radio div {
	float: left;
	width: 17px;
	height: 17px;
	margin: 0px 5px 0px 0px;
	background: url('../i/sprite.png') -804px -41px no-repeat;
	cursor: pointer;
}
div.radio.checked div {
	background: url('../i/sprite.png') -821px -41px no-repeat;
}
div.radio input {
	position: absolute;
	left: -10000px;
}

.checkbox {
	width: 13px;
	height: 13px;
	position: relative;
	top: 2px;
}
.checkbox_td {
	width: 260px;
}
.checkbox_td .checkbox {
	float: left;
	margin-right: -13px;
}
.checkbox_td .label {
	margin-left: 27px;
	line-height: 20px;
}
.label_td_long.vat {
	vertical-align: top;
}
#popup_textarea {
	width: 99%;
	height: 73px;
}
.time_select .radio {
	
}
.time_select .short {
	float: left;
	position: relative;
	top: -3px;
	margin-right: 10px;
	width: 60px !important;
}
.time_select .short .cusel {
	width: 60px !important;
}
.time_select .short .cusel-scroll-wrap {
	width: 60px !important;
}
.time_select .txt {
	float: left;
	margin-right: 10px;
	line-height: 18px;
}
#comment_textarea {
	width: 390px;
	height: 73px;
}
#text_otkr {
	width: 380px;
	height: 73px;
}
.ovh.mb {
	margin-bottom: 12px;
}
.radio.top {
	margin-top: 10px;
}
.label.lh {
	line-height: 30px;
}
.appearance_r .payments div {
	margin-right: 15px;
}
.appearance_r .payments {
	position: relative;
	top: -10px;
	margin-left: 125px;
}
.appearance_r .payments em {
	position: absolute;
	font-size: 14px;
	color: #b3b3b3;
	left: 57px;
	top: 6px;
	font-style: normal;
}
.radio.lit_top {
	margin-top: 2px;
}
.popup .to_cart_table .price_td {
	width: auto;
	text-align: right;
	padding-right: 10px;
}
.popup .to_cart_table .last_tr td {
	border-bottom: none;
}
.popup .to_cart_grey_block {
	padding-right: 10px;
	margin-bottom: 10px;
}
.label_td.vat {
	vertical-align: top;
}
.checkbox_grey_block {
	overflow: hidden;
	height: 27px;
	line-height: 37px;
	background: #f2f2f2;
	padding-top: 10px;
	margin-bottom: 10px;
}
.mail {
	float: left;
	width: 185px;
	margin-left: 10px;
	margin-right: -195px;
	overflow: hidden;
}
.sms {
	margin-left: 200px;
	overflow: hidden;
}
#appearance2__ {
	margin: 0px;
}
/* Ïîïàïû */




/* Êîðçèíà */
#cart_table .lit_prev {
	border-radius: 0px;
	box-shadow: none;
	float: none;
	margin-right: 0px;
}
#cart_table .lit_prev img {
	border-radius: 0px;
	opacity: 1;
}
.to_cart_img_td {
	width: 62px;
}
#cart_table {
	font-size: 12px;
	color: #bfbfbf;
}
.to_cart_table em,
.to_cart_table i{
	font-style: normal;
}
td.price_td {
	text-align: center;
	font-weight: bold;
	color: #333333;
	width: 100px;
}
td.price_td span.rur span {
	margin: 0.2ex 0 0 -0.65em;
}
td.remove_icon_td {
	width: 25px;
}
td.remove_icon_td .close {
	height: 25px;
	width: 25px;
	background: url('../i/sprite.png') -779px -41px no-repeat;
	float: left;
	cursor: pointer;
}
td.remove_icon_td .close:hover {
	background: url('../i/sprite.png') -779px -116px no-repeat;
}
td.plus_minus_td {
	width: 90px;
	padding-right: 20px;
}
td.plus_minus_td .div {
	width: 90px;
	height: 25px;
	position: relative;
}
.cart_action {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0px;
	background: url('../i/sprite.png') -727px -41px no-repeat;
	cursor: pointer;
}
.cart_action.minus {
	left: 0px;
	background: url('../i/sprite.png') -727px -41px no-repeat;
}
.cart_action.plus {
	right: 0px;
	background: url('../i/sprite.png') -753px -41px no-repeat;
}
.cart_action.minus:hover {
	background: url('../i/sprite.png') -727px -116px no-repeat;
}
.cart_action.plus:hover {
	background: url('../i/sprite.png') -753px -116px no-repeat;
}
.cart_action_num {
	font-size: 12px;
	color: #333333;
	line-height: 25px;
	text-align: center;
	background: #f2f2f2;
}
#cart_table tr td {
	height: 72px;
	border-bottom: 1px solid #d9d9d9;
}
.price_total {
	font-style: normal;
}
#cart_table .tr_last td {
	border-bottom: none;
}
h2.border.no_marg {
	margin-bottom: 0px;
}
.to_cart_grey_block {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	height: 28px;
	line-height: 28px;
	text-align: right;
	color: #333333;
	font-weight: bold;
	padding-right: 165px;
	background: #f2f2f2;
	margin-bottom: 20px;
	font-size: 12px;
}
.delivery_price {
	overflow: hidden;
}
.delivery_price p {
	float: left;
	width: 185px;
	margin-right: -245px;
	position: relative;
	padding-left: 60px;
	font-size: 12px;
	line-height: 28px;
}
.delivery_price p span {
	position: absolute;
	width: 49px;
	height: 21px;
	background: url('../i/sprite.png') -677px -41px no-repeat;
	left: 0px;
	top: 3px;
}
.delivery_price_btns {
	margin-left: 310px;
}
/* Êîðçèíà */

/* Ñòèëè äëÿ ñåëåêòîâ */
.cusel,
.cuselFrameRight,
.jScrollPaneDrag,
.jScrollArrowUp,
.jScrollArrowDown {
	background: url('../i/selects.png') no-repeat;
}
.cusel { 
	height: 26px;
	background-position: left top;
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	z-index: 1;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
.cuselFrameRight { 
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	height: 100%;
	width: 42px;
	background-position: right top;
	
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
.cuselText { 
	height: 14px;
	padding: 6px 0 0 7px; /* ïîäáèðàåì îòñòóïû è âûñîòó äëÿ âèäèìîãî òåêñòà â ñåëåêòå */
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 1;
	font: 12px Arial, Tahoma, sans-serif; /* øðèôòû */
	position: absolute;
	top: 0;
	left: 0;
}
.cusel span { 
	display: block;
	cursor: pointer;
	white-space: nowrap;
	color: #b3b3b3;
	font-size: 12px;
	font-family: Tahoma;
	font-style: normal;
	line-height: 14px;
	font-style: normal;
	padding: 5px 15px 5px 5px; /* ïàääèíã ñïðàâà - ýòî îòñòóï òåêñòà îò ïîëçóíêà */
	zoom: 1;
}
.form_table .cusel .cusel-scroll-wrap span { 
	display: block;
	cursor: pointer;
	white-space: nowrap;
	color: #b3b3b3;
	font-size: 12px;
	font-family: Tahoma;
	font-style: normal;
	line-height: 14px;
	font-style: normal;
	padding: 5px 15px 5px 5px; /* ïàääèíã ñïðàâà - ýòî îòñòóï òåêñòà îò ïîëçóíêà */
	zoom: 1;
	margin: 0px;
	float: none;
}
.cusel span:hover,
.cusel .cuselOptHover { 
	background: #f2f2f2;
	color: #333333;
}
.cuselOpen {
	z-index: 999;
}
.cusel .cusel-scroll-wrap { 
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 100%;
	background: #fff; /* ôîí âûïàäàþùåãî ñïèñêà */
	min-width: 100%;
	width: auto;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
}
.cusel .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
	border-left: 1px solid #d9d9d9; 
	border-right: 1px solid #d9d9d9; 
	border-bottom: 1px solid #d9d9d9; 
	border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	padding-top: 10px;
	margin-top: -10px;
}
.cusel .jScrollPaneTrack { 
	height: 100%;
	width: 7px !important;
	background: #ccc;
	position: absolute;
	top: 0;
	right: 4px;
}
.cusel .jScrollPaneDrag { 
	position: absolute;
	background-position: -40px -26px;
	cursor: pointer;
	width: 15px !important;
	height: 27px !important;
	right: -4px;
	
}
.cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollArrowUp { 
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -26px;
	overflow: hidden;
}
.cusel .jScrollArrowDown { 
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -26px;
	overflow: hidden;
}

/*pravki*/
.network .vk {
    background-image: none;
    width: 100px;
}
.bottom_menu a:hover {
	text-decoration: none;
}
h2.lh {
    line-height: 38px;
    padding-bottom: 4px;
}
.submit.r {
	float: none;
	margin-left: 445px;
	padding: 0px;
	margin-right: 0px;
	width: 111px;
}
.steps_left {
	position: absolute;
	text-align: center;
	left: 0px;
	sbottom: -22px;
	bottom: 6px;
	width: 100%;
	z-index: 1;
}
.btn_if {
	position: relative;
	z-index: 2;
	overflow: hidden;
}
.reset.l {
	margin-right: -121px;
	width: 119px;
	padding: 0px;
}
.submit.last {
	float: right;
	margin-right: 10px;
}
.to_cart_table .lit_prev img {
	opacity: 1;
}
.to_cart_table .lit_prev {
	box-shadow: none;
}
.label.beznal {
	float: left;
	width: 125px;
	margin-right: -125px;
}
.popup_bd_block.ovv {
	padding-bottom: 30px;
}
.appearance_r.ovv {
	overflow: visible;
}
h2.border.two_line {
	line-height: 24px;
	padding: 10px 50px 10px 0px;
}
.to_cart_grey_block span.rur span {
	height: 2em;
}
.filter_block .form_btns .submit {
	width: 122px;
	margin-right: -122px;
}
.filter_block .form_btns .reset {
	float: none;
	margin-left: 132px;
}
.filter_block .form_btns .submit input,
.filter_block .form_btns .reset input {
	width: 100%;
	padding: 0px;
}
.delivery_price_btns .submit {
	margin-right: 12px;
}
.ovv_mb {
	overflow: visible;
	margin-bottom: 12px;
}
.ovh.popup_bd_block .appearance_r,
.ovv_mb .appearance_r {
	padding-top: 3px;
}
/*--pravki*/

.input_login {
	width: 370px;
}
.password_fld {
	float: left;
}
.password_flds_link {
	float: left;
	border-bottom: 1px dashed #0D9D07;
	color: #0D9D07;
	cursor: pointer;
	font-family: Tahoma;
	font-size: 12px;
	margin: 4px 0px 0px 10px;
}
.password_flds_link:hover {
	border-bottom: 1px dashed #de0000;
	color: #de0000;
}

/* Ñòèëè äëÿ ðóáëÿ */
span.rur {
	font-family: "Rubl Sign";
	text-transform: uppercase;
	// text-transform: none;
	margin: 0px;
	padding: 0px;
	float: none;
	font-size: 1.1em;
}    
span.rur span { 
	position: absolute;
	overflow: hidden;
	width: .45em;
	height: 1em;
	margin: 0.25ex 0 0 -0.65em;
	padding: 0px;
	float: none;
	// display: none;
}
span.rur span:before {
	content: '\2013';
}
@font-face { 
	font-family: "Rubl Sign"; src: url(http://www.artlebedev.ru/;-)/ruble.eot);
}

#sort_buttons{
	margin-bottom: 10px;
	color: #808080;
}

#sort_buttons input{
	margin-bottom: 10px;
}

