{% extends 'base.html' %}
{% block title %}{{ content.title }}{% endblock title %}
{% block meta_keywords %}{{ content.meta_keywords }}{% endblock meta_keywords %}
{% block meta_description %}{{ content.meta_description }}{% endblock meta_description %}
{% block upper_menu %}
<div class="menu_bg">
    <table class="menu">
            <tr>
                    <td>
                            <div class="menu_item">
                                        <a href="/">Главная</a>
                                        <div class="c">
                                                <div class="cc curr_page_icon"></div>
                                        </div>
                                </div>
                    </td>
                    <td>
                            <div class="menu_item curr">
                                    <span>О нас</span>
                                    <div class="c">
                                            <div class="cc curr_page_icon"></div>
                                    </div>
                            </div>
                    </td>
                    <td>
                            <div class="menu_item">
                                    <a href="/delivery">Доставка</a>
                                    <div class="c">
                                            <div class="cc curr_page_icon"></div>
                                    </div>
                            </div>
                    </td>
                    <td>
                            <div class="menu_item">
                                    <a href="/payment">Оплата</a>
                                    <div class="c">
                                            <div class="cc curr_page_icon"></div>
                                    </div>
                            </div>
                    </td>
                    <td>
                            <div class="menu_item">
                                    <a href="/discounts">Скидки</a>
                                    <div class="c">
                                            <div class="cc curr_page_icon"></div>
                                    </div>
                            </div>
                    </td>
                    <td>
                            <div class="menu_item">
                                    <a href="/contacts">Контактная информация</a>
                                    <div class="c">
                                            <div class="cc curr_page_icon"></div>
                                    </div>
                            </div>
                    </td>
            </tr>
    </table>
</div>
{% endblock upper_menu %}



{% block content %}
<div class="l">
		<ul class="breadcrumbs">
			<li><a href="/">Главная</a></li>
			<li>&raquo;</li>
			<li class="curr"><span>О нас</span></li>
		</ul>
						<div class="item_block">
							{{ content.content|safe }}
						</div>
</div>
{% endblock content %}

{% block bottom_menu %}
		<div class="bottom_menu">
			<div class="l">
				<a href="/">Главная</a>
				<span>О нас</span>
				<a href="/delivery">Доставка</a>
				<a href="/payment">Оплата</a>
				<a href="/discounts">Скидки</a>
				<a href="/contacts">Контактная информация</a>
			</div>
		</div>
{% endblock bottom_menu %}