{% extends "base.html" %}
{% block title %}Все рекомендации{% endblock title %}
{% block upper_menu %}
<div class="menu_bg">
					<table class="menu">
						<tr>
							<td class="first">
								<div class="menu_item">
									<a href="/">Главная</a>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
							<td>
								<div class="menu_item">
									<a href="/about">О нас</a>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
							<td>
								<div class="menu_item">
									<a href="/delivery">Доставка</a>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
							<td>
								<div class="menu_item">
									<a href="/payment">Оплата</a>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
							<td>
								<div class="menu_item">
									<a href="/discounts">Скидки</a>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
							<td class="last">
								<div class="menu_item">
									<a href="/contacts">Контактная информация</a>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
{% endblock upper_menu %}

{% block content %}
<div class="l">
						<ul class="breadcrumbs">
							<li><a href="/">Главная</a></li>
							<li>&raquo;</li>
							<li class="curr"><span>Все рекомендации</span></li>
						</ul>
						<h2 class="border">Все рекомендации</h2>
						<div class="item_block">
				{% for item in recommended_products %}
				{% if item.is_new %}
				<div class="list_item">
					<a href="/product/{{ item.get_absolute_url }}" class="list_item_img">
						<div class="new"></div>
						<img src="{{ item.get_first_image }}" width="170" height="170" border="0" alt="" />
						<div class="list_item_price"><em>{{ item.price }}<span class="rur">p<span>уб.</span></span></em></div>
					</a>
					<div class="list_item_name"><a href="/product/{{ item.get_absolute_url }}">{{ item.name }}</a></div>
					<p class="list_item_desc">{{ item.description }}</p>
				</div>
				{% else %}
				<div class="list_item">
					<a href="/product/{{ item.get_absolute_url }}" class="list_item_img">
						<img src="{{ item.item.get_first_image }}" width="170" height="170" border="0" alt="" />
						<div class="list_item_price"><em>{{ item.price }}<span class="rur">p<span>уб.</span></span></em></div>
					</a>
					<div class="list_item_name"><a href="/product/{{ item.get_absolute_url }}">{{ item.name }}</a></div>
					<p class="list_item_desc">{{ item.description }}</p>
				</div>
				{% endif %}
				{% endfor %}	
						</div>
</div>

{% endblock content %}
{% block bottom_menu %}
						<div class="bottom_menu">
							<div class="l">
								<a href="/">Главная</a>
								<a href="/about">О нас</a>
								<a href="/delivery">Доставка</a>
								<a href="/payment">Оплата</a>
								<a href="/discounts">Скидки</a>
								<a href="/contacts">Контактная информация</a>
							</div>
							
						</div>
					{% endblock bottom_menu %}