﻿{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load pagination_tags %}
{% load mptt_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% block head %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="keywords" content="{% block meta_keywords %}{% endblock meta_keywords %}" />
	<meta name="description" content="{% block meta_description %}{% endblock meta_description %}" />
	<title>{% block title %}{% endblock title %}</title>
	
	<link href="{{ STATIC_PREFIX }}css/main.css" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ STATIC_PREFIX }}css/fancybox.css" rel="stylesheet" type="text/css" media="all" />
	<!--[if IE 8]><link href='{{ STATIC_PREFIX }}css/ie8.css' rel='stylesheet' type='text/css' media='all' /><![endif]-->
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-1.6.1.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-ui-1.8.17.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/fancybox.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/fancybox.pack.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jScrollPane.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/cusel.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/fns.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.form.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/myscript.js"></script>
	<script src="{{ STATIC_PREFIX }}js/jquery.validate.js"></script>
	<script type="text/javascript"> 
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-18455373-25']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
 
      </script>
</head>
{% endblock head %}
<body>
	<div id="layout">
		<div id="layout_reduser">
			<!-- Шапка -->
			<div id="header">
				<!-- Меню -->
				<!--<div class="menu_bg">-->
	{% block upper_menu %}
    
	{% endblock upper_menu %}
</div>
				<div class="block_padd">
					<div id="logo"><a href="/"><img src="{{ STATIC_PREFIX }}i/logo.jpg" width="434" height="104" border="0" alt="" /></a></div>
					<div class="header_reduser">
						<div class="block">
							<div class="header_phones">
								<p><span>+7 (351) </span>77-77-197</p>
								
							</div>
						<div class="user_block">
									<form method="POST"  class="application"  accept-charset="UTF-8" action="https://partner.mainpay.ru/a1lite/input/" id="mainpayform" style="display: none;">
										<input type="hidden" name="key" value="czrDLWkwalUPz6cpstNmCoYM7NZl4w/PRdxgZ0ishNo=" />
										<input type="hidden" name="cost" value="{{ total_summ }}" />
										<input type="hidden" name="name" value="{% for item in cart.keys %}{{ item }}&nbsp{% endfor %}" />
										<input type="hidden" name="default_email" value="{{ request.user.email }}" />
										<input type="hidden" name="{{ order.id }}" value="0" />
										<input type="image" style="border:0;" src="https://partner.mainpay.ru/gui/images/a1lite_buttons/button_small.png" value="Оплатить" />
									</form>
								{% if request.user.is_authenticated  %}
								<div id="login">
									<span class="pseudolink"><a href="/logout">Выход</a></span>
									<!--<span class="separator">/</span>-->
									{% if request.user.first_name %}<span style="color: green;">{{ request.user.first_name }}</span>{% else %}<span style="color: green;">{{ request.user.email }}</span>{% endif %}
									
								</div>
								{% else %}
								<div id="login">
									<div id="login">
									<a href="#popup_login" class="pseudolink popup_link">Войти или зарегистрироваться</a>
								</div>
								{% endif %}
								<div class="order_call">
									<a href="#popup1" class="pseudolink popup_link"><span class="order_call_icon"></span>Заказать звонок</a>
								</div>
							</div>
							<!---->
							<!--<div class="user_block">-->
							<!--	-->
							<!--	<div id="login">-->
							<!--		<span class="pseudolink"><a href="/logout">Выход</a></span>-->
							<!--		<span class="separator">/</span>-->
							<!--		<span class="pseudolink"><a href="#" class="pseudolink popup_link">{{ request.user }}</a></span>-->
							<!--		-->
							<!--	</div>-->
							<!--	-->
							<!--	<div class="order_call">-->
							<!--		<a href="#popup1" class="pseudolink popup_link"><span class="order_call_icon"></span>Заказать звонок</a>-->
							<!--	</div>-->
							<!--</div>-->
							
						</div>
						<!-- Корзина -->
						<div class="cart_block">
							<h3>Корзина</h3>
							<!--<p> {% if cart %}
								<a class = cart_status href="cart.html"> {{ word }}</a>
								на сумму
								<span class = cart_status><strong id="sum">{{ total_summ }} руб.</strong></span>
								{% else %}
								<strong id="sum">Корзина пуста</strong>
								{% endif %}
								<a class="popup_link" href="#popup3">Оформить заказ</a>
							</p>-->
							<p> {% if cart %}
								<a class = "cart_status" href="/cart" style="color: green">{{ word }}</a>
								на сумму
								<!--<span class = "cart_status" style= "font-weight: bold">{{ total_summ }} руб.</span>-->
								<strong id="sum"><span id = "totsumm">{{ total_summ }}</span> <span class="rur">p<span>уб.</span></span></strong>
								{% else %}
								<strong id="sum">Корзина пуста</strong>
								{% endif %}
								{% if cart %}
								<!--<a class="popup_link" href="#popup2">Оформить заказ</a>-->
								
								<a class="popup_link" href="{% if request.user.is_authenticated %}#popup_recommend_prods{% else %}#popup_login{% endif %}">Оформить заказ</a>
								{% endif %}
							</p>
							
						</div>
					</div>
				</div>
			</div>
			<!-- Контент -->
			<div id="conteiner">
				<div class="conteiner_reduser">
				
				{% block content %}
				
				{% endblock content %}
				
				
				
				
					
					
					
					<div class="r">
						<div class="adviser_block">
							<h2 style="font-family: Georgia;"><em>Круглосуточная доставка цветов в Челябинске</em></h2>
							
						</div>
						<div class="yandex_search">
							<div class="ya-site-form ya-site-form_inited_no" onclick="return {'bg': '#ffcc00', 'target': '_self', 'language': 'ru', 'suggest': true, 'tld': 'ru', 'site_suggest': true, 'action': 'http://yandex.ru/sitesearch', 'webopt': false, 'fontsize': 12, 'arrow': false, 'fg': '#000000', 'searchid': '1953296', 'logo': 'rb', 'websearch': false, 'type': 2}"><form action="http://yandex.ru/sitesearch" method="get" target="_self"><input type="hidden" name="searchid" value="1953296" /><input type="hidden" name="l10n" value="ru" /><input type="hidden" name="reqenc" value="" /><input type="text" name="text" value="" /><input type="submit" value="Найти" /></form></div>
							<script type="text/javascript">(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0],e=d.documentElement;(' '+e.className+' ').indexOf(' ya-page_js_yes ')===-1&&(e.className+=' ya-page_js_yes');s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Form.init()})})(window,document,'yandex_site_callbacks');</script>
						</div>
						
						
						<div class="catalogue_block"> 
							<div class="catalogue_head">
								<span class="arrow"></span>
								<h3>Каталог</h3>
							</div>
                            <div id="rgt" class="rgt">
							<ul class="catalogue_list">                                
                                {% recursetree nodes %}
                                    <li class="catalogue_categorie">
                                        <a href="/category/{{ node.get_absolute_url }}">{{ node.name }}</a>
                                        {% if not node.is_leaf_node %}
                                            <ul class="children">
                                                {{ children }}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endrecursetree %}                               
                            </ul>
                            </div>
						</div>
						
						
						<div class="filter_block">
							<h2>Подбор букета</h2>
							<form action="/sorting/" method = "GET" class="">
								<select name="tsena" id="sel1">
									<option value="0 10000000">Цена</option>
									<option value="0 2000">До 2000 р.</option>
									<option value="2000 3000">От 2000 р. до 3000 р.</option>
									<option value="3000 4000">От 3000 р. до 4000 р.</option>
									<option value="4000 5000">От 4000 р. до 5000 р.</option>
									<option value="5000 6000">От 5000 р. до 6000 р.</option>
									<option value="6000 8000">От 6000 р. до 8000 р.</option>
									<option value="8000 10000">От 8000 р. до 10000 р.</option>
									<option value="10000 15000">От 10000 р. до 15000 р.</option>
									<option value="15000 25000">От 15000 р. до 25000 р.</option>
									<option value="25000 1000000">От 25000 р.</option>
								</select>
								<select name="povod" id="sel2">
									<option value="empty">Повод</option>
									<option value="business_bouquet">Бизнес букет</option>
									<option value="birthday">День рождения</option>
									<option value="anniversary">Юбилей</option>
									<option value="love">Цветы любви</option>
									<option value="interior">Оформление интерьера</option>
									<option value="congrat">Поздравляю</option>
									<option value="sorry">Прости</option>
									<option value="child">Рождение ребенка</option>
									<option value="holiday_roses">Розы на праздник</option>
									<option value="wedding">Свадьба</option>
									<option value="thanks">Спасибо</option>
									<option value="horoscope">Цветы по гороскопу</option>
								</select>
								<select name="poluchatel" id="sel3">
									<option value="">Получатель</option>
									<option value="he">Он</option>
									<option value="she">Она</option>
								</select>
								
								<div id="sort_buttons">
								<input type="checkbox" id = "vip" class = "checkbox" name="VIP">&nbsp;<label for = "vip">VIP</label><br>
								<input type="radio" id = "f" class = "checkbox" checked = "checked" name="flowerBouqueteRadio" value = "f">&nbsp;<label for = "f">Цветок</label><br>
								<input type="radio" id = "b" class = "checkbox" name="flowerBouqueteRadio" value = "b">&nbsp;<label for = "b">Букет</label><br>
								</div>
								
								<div class="form_btns">
									<div class="submit"><input type="submit" value="Подобрать" /></div>
									<div class="reset"><input type="reset" value="Очистить" /></div>
								</div>
							</form>
						</div>						
						
						<div class="services_block">
							<h2>Услуги</h2>
							<ul>
								{% for service in services %}
								<li><a href="/service/{{ service.get_absolute_url }}">{{ service.title }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="clear"></div>
					
					{% block about %}{% endblock about %}
					
					<div class="conteiner_footer_spacer"></div>
					<div class="conteiner_footer">
						{% block bottom_menu %}
						
						{% endblock bottom_menu %}
						<div class="block">
							<div class="payments l">
								<p>Мы принимаем</p>
								<div class="pay_1"></div>
								<div class="pay_2"></div>
								<div class="pay_3"></div>
								<div class="pay_4"></div>
								<div class="pay_5"></div>
								<div class="pay_6"></div>
								<div class="pay_7"></div>
								<div class="pay_8"></div>
							</div>
							<div class="network r">
								<p>Следите за нами</p>
								<a href="http://vk.com/ameliashop" class="vk"><img src="{{ STATIC_PREFIX }}i/vk.png" width="100" height="25" border="0" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			
			<!-- Подвал -->
			<div id="footer_spacer"></div>
			<div id="footer">
				<div class="footer_reduser">
					<a href="http://2eng.ru/" class="autor_link"><em></em><span>Сделано в</span></a>
					<div class="copy">
						<p>© 2012 &laquo;Амелия&raquo; — служба доставки цветов</p>
						<p>E-mail: <a href="mailto:contact@amelia-shop.ru" >contact@amelia-shop.ru</a></p>
					</div>
				</div>
			</div>
			
			{% block pop1 %}
			
			
			
			
			<div class="popup short" id="popup1" style="display:none">
				<div class="popup_reduser">
					<h2 class="border">Обратный звонок</h2>
					<form action="/call/" id="feedback" method="POST">
						<table class="form_table">
							<tr>
								<td class="label_td">
									<label for="popup_tel_num" class="label">Номер телефона: <span>*</span></label>
								</td>
								<td><input type="text" id="popup_tel_num" class="input" name = "phone_number"/></td>
							</tr>
							<tr>
								<td class="label_td"><label for="name"  class="label">Имя:</label></td>
								<td><input type="text" id="name" class="input" name = "name" /></td>
							</tr>
							<tr>
								<td class="label_td">Позвоните мне:</td>
								<td>
									<div class="radio">
										<div></div>
										<input type="radio" id="feedback1" class="radio inside_radio" name="radio" value = "rightnow" />
									</div>
									<label for="feedback1" class="radio_label">прямо сейчас</label>
								</td>
							</tr>
							<tr class="tr_last">
								<td class="label_td">&nbsp;</td>
								<td class="time_select">
									<div class="radio">
										<div></div>
										<input type="radio" id="feedback2" class="radio inside_radio" name="radio" value = "hours" />
									</div>
									<label for="feedback2"><span class="txt">с</span></label>
									<div class="short">
										<select name="from" id="select19" class="">
											<option value="10:00">10:00</option>
											<option value="11:00">11:00</option>
											<option value="12:00">12:00</option>
										</select>
									</div>
									<label for="feedback2"><span class="txt">до</span></label>
									<div class="short">
										<select name="to" id="select20" class="">
											<option value="10:00">10:00</option>
											<option value="11:00">11:00</option>
											<option value="12:00">12:00</option>
										</select>
									</div>
								</td>
							</tr>
						</table>
						<div class="submit"><input type="submit" value="Заказать" /></div>
						<div class="reset"><input type="reset" value="Отменить" /></div>
					</form>
					<div class="clear"></div>
				</div>
			</div>
			
			
			
			
			
			
			
			
			
			
			
			
<!--------------------------------------------Вход-------------------------------------->			
			<!--<div class="popup" id="popupx" style="display:none">
				<form action = "/login/" name = "enter_form" method = "POST" id = "login_form">
				<div class="popup_reduser">
					<h2 class="border">Вход<span class="popup_close">ЗАКРЫТЬ<em></em></span></h2>
					<div style="margin-right: 20px; margin-bottom: 5px;"><span style="margin-right: 38px;">Имя:</span><input type="text" name = "login_name"></div></br>
					<div style="margin-right: 20px; margin-bottom: 20px;"><span style="margin-right: 20px;">Пароль:</span><input type="password" name = "login_password"></div>
					<div class="clear"></div>
					<div class="submit" style="float: right;"><input type="submit" value="Войти" /></div>
					<div class="clear"></div>
				</div>				
				</form>
			</div>-->
	<!--------------------------------------------Регистрация-------------------------------------->			
			<!--<div class="popup" id="popupxx" style="display:none">
				<form action = "/register/" name = "register_form" id = "regform" method = "POST">
				<div class="popup_reduser">
					<h2 class="border">Регистрация<span class="popup_close">ЗАКРЫТЬ<em></em></span></h2>
					<div style="margin-right: 20px; margin-bottom: 5px;"><span style="margin-right: 47px;">Имя:</span><input type="text" name="register_name"></div></br>
					<div style="margin-right: 20px; margin-bottom: 5px;"><span style="margin-right: 38px;">Email:</span><input type="text" name="register_email"></div></br>
					<div style="margin-right: 20px; margin-bottom: 5px;"><span style="margin-right: 30px;">Пароль:</span><input type="text" name="register_password"></div></br>
					
					<div class="clear"></div>
					<div class="submit" style="float: right;"><input type="submit" value="Отправить" /></div>
					<div class="clear"></div>
				</div>

					
				</form>
			</div>-->
			
			
			
			<div class="popup short" id="popup_login" style="display:none">
				<div class="popup_reduser">
					<h2 class="border">Войдите или зарегистрируйтесь</h2>
					<form action = "/login/" name = "enter_form" method = "POST" id = "login_form">
						<table class="form_table">
							<tr>
								<td class="label_td">
									<label for="popup_login" class="label">E-mail: <span>*</span></label>
								</td>
								<td class="input_login"><input type="text" id="popup_login" class="input" name = "login_email"/></td>
							</tr>
							<tr>
								<td class="label_td"><label for="popup_pass"  class="label">Пароль: <span>*</span></label></td>
								<td class="input_login">
									<input type="text" id="popup_pass" class="input password_fld hidden" name = "login_password"/>
									<input type="password" id="popup_pass" class="input password_fld" name = "login_password"/>
									<span class="password_flds_link">показать</span>
									<span class="password_flds_link hidden">скрыть</span>
								</td>
							</tr>
						</table>
						<div class="form_btns">
							<!--<div class="submit"><input type="submit" id="submit_login" value="Войти" /></div>-->
							<!--<div class="reset"><a href="#">Зарегестрироваться</a></div>-->
							<div class="submit"><input type="submit" id="submit_login" value="Войти" /></div>
							<div class="reset"><input type="submit" id="submit_register" value="Зарегистрироваться" /></div>
						</div>
					</form>
					<div class="clear"></div>
				</div>
			</div>
			
			
			
			
			
			{% endblock pop1 %}
			
			{% block pop2 %}
			<div class="popup" id="popup_new_prods" style="display:none">
				<div class="popup_reduser">
					<h2 class="border">Новинки<a href="/all_new_prod" class="breadcrumps">Все новинки</a></h2>
					<div class="list">
						{% for prod in new_products|slice:":6" %}
						<div class="list_item add">
							<a href="/product/{{ prod.get_absolute_url }}" class="list_item_img">
								<img src="{{ prod.get_first_image }}" width="170" height="170" border="0" alt="" />
								<div class="list_item_price"><em>{{ prod.price }} <span class="rur">p<span>уб.</span></span></em></div>
							</a>
							<div class="list_item_name"><a href="/product/{{ prod.get_absolute_url }}">{{ prod.name }}</a></div>
							<p class="list_item_desc">{{ prod.description }}</p>
							<span class="pseudolink" id = "/add_to_cart/{{ prod.get_absolute_url }}/"><span class="add_item_icon"></span>Добавить к заказу</span>
						</div>
						{% endfor %}
						
					</div>
					<div class="submit short_padd flr"><a href="{% if request.user.is_authenticated %}#popup3{% else %}#popup_login{% endif %}" class="popup_link" id="go">Перейти к оформлению</a></div>
					<div class="clear"></div>
				</div>
			</div>
			{% endblock pop2 %}
			
			<div class="popup" id="popup_recommend_prods" style="display:none">
				<div class="popup_reduser">
					<h2 class="border">Рекомендуем<a href="/all_recommendations" class="breadcrumps">Все рекомендации</a></h2>
					<div class="list">
						{% for prod in recommended_products|slice:":6" %}
						<div class="list_item add">
							<a href="/product/{{ prod.get_absolute_url }}" class="list_item_img">
								<img src="{{ prod.get_first_image }}" width="170" height="170" border="0" alt="" />
								<div class="list_item_price"><em>{{ prod.price }} <span class="rur">p<span>уб.</span></span></em></div>
							</a>
							<div class="list_item_name"><a href="/product/{{ prod.get_absolute_url }}">{{ prod.name }}</a></div>
							<p class="list_item_desc">{{ prod.description }}</p>
							<span class="pseudolink" id = "/add_to_cart/{{ prod.get_absolute_url }}/"><span class="add_item_icon"></span>Добавить к заказу</span>
						</div>
						{% endfor %}
						
					</div>
					<div class="submit short_padd flr"><a href="{% if request.user.is_authenticated %}#popup3{% else %}#popup_login{% endif %}" class="popup_link" id="go">Перейти к оформлению</a></div>
					<div class="clear"></div>
				</div>
			</div>
			
			<!--<div class="popup" id="popup_recommend_prods" style="display:none">
				<div class="popup_reduser">
					<h2 class="border">Рекомендуем<a href="/all_recommendations" class="breadcrumps">Все рекомендации</a></h2>
					<div class="list">
						{% for prod in recommended_products|slice:":6" %}
						<div class="list_item add">
							<a href="/product/{{ prod.get_absolute_url }}" class="list_item_img">
								<img src="{{ prod.get_first_image }}" width="170" height="170" border="0" alt="" />
								<div class="list_item_price"><em>{{ prod.price }} <span class="rur">p<span>уб.</span></span></em></div>
							</a>
							<div class="list_item_name"><a href="/product/{{ prod.get_absolute_url }}">{{ prod.name }}</a></div>
							<p class="list_item_desc">{{ prod.description }}</p>
							<span class="pseudolink" id = "/add_to_cart/{{ prod.get_absolute_url }}/"><span class="add_item_icon"></span>Добавить к заказу</span>
						</div>
						{% endfor %}
						
					<div class="submit short_padd flr"><a href="{% if request.user.is_authenticated %}#popup3{% else %}#popup_auth{% endif %}" class="popup_link" id="go">Перейти к оформлению</a></div>
					<div class="clear"></div>
				</div>
			</div>-->
			
			<div class="popup" id="popup2" style="display:none">
				<div class="popup_reduser">
					<h2 class="border">Рекомендуем<a href="catalog.html" class="breadcrumps">Все рекомендации</a></h2>
					<div class="list">
						<div class="list_item add">
							<a href="item.html" class="list_item_img">
								<img src="i/img-4.jpg" width="170" height="170" border="0" alt="" />
								<div class="list_item_price"><em>2 500 <span class="rur">p<span>уб.</span></span></em></div>
							</a>
							<div class="list_item_name"><a href="item.html">Свадебный букет</a></div>
							<p class="list_item_desc">Нежный букетик в светлой гамме очаровательный фонтан из белых роз, фрезии и зелени.</p>
							<span class="pseudolink"><span class="add_item_icon"></span>Добавить к заказу</span>
						</div>
						<div class="list_item add">
							<a href="item.html" class="list_item_img">
								<div class="new"></div>
								<img src="i/img-5.jpg" width="170" height="170" border="0" alt="" />
								<div class="list_item_price"><em>2 500 <span class="rur">p<span>уб.</span></span></em></div>
							</a>
							<div class="list_item_name"><a href="item.html">Свадебный букет</a></div>
							<p class="list_item_desc">Нежный букетик в светлой гамме очаровательный фонтан из белых роз, фрезии и зелени.</p>
							<span class="pseudolink"><span class="add_item_icon"></span>Добавить к заказу</span>
						</div>
						<div class="list_item add">
							<a href="item.html" class="list_item_img">
								<img src="i/img-6.jpg" width="170" height="170" border="0" alt="" />
								<div class="list_item_price"><em>2 500 <span class="rur">p<span>уб.</span></span></em></div>
							</a>
							<div class="list_item_name"><a href="item.html">Свадебный букет</a></div>
							<p class="list_item_desc">Нежный букетик в светлой гамме очаровательный фонтан из белых роз, фрезии и зелени.</p>
							<span class="pseudolink"><span class="add_item_icon"></span>Добавить к заказу</span>
						</div>
					</div>
					<div class="submit short_padd flr" id="proczero"><a href="{% if request.user.is_authenticated %}#popup3{% else %}#popup_auth{% endif %}" class="popup_link">Перейти к оформлению</a></div>
					<div class="clear"></div>
				</div>
			</div>
			
			
			<div class="popup" id="popup3" style="display:none">
				<div class="popup_reduser">
					<h2 class="border">Оформление заказа</h2>
					<form action="/order/" name='orderformzero' id="proccallform" method = "POST">
						<div class="ovh">
							<div class="appearance_l radio">
								<div></div>
								<input type="radio" name="radio2" class="appearance" id="appearance1" />
							</div>
							<div class="appearance_r">
								<label for="appearance1" class="label">Быстрое оформление</label>
								<p>Оставьте номер телефона, имя и оператор свяжется с вами в ближайшее время, чтобы уточнить информацию по телефону.</p>
							</div>
						</div>										
						<table class="form_table grey hidden" id="appearance1__">
							<tr class="first_tr">
								<td class="label_td">
									<label for="popup_tel_num2" class="label">Номер телефона: <span>*</span></label>
								</td>
								<td><input type="text" id="popup_tel_num2" class="input" name = "proctelnumber"/></td>
							</tr>
							<tr>
								<td class="label_td"><label for="name2"  class="label">Имя:</label></td>
								<td><input type="text" id="name2" class="input" name = "proctelname" /></td>
							</tr>
							<tr>
								<td class="label_td">Позвоните мне:</td>
								<td>
									<div class="radio checked">
										<div></div>
										<input type="radio" id="appearance3"  class="radio inside_radio" name="rightnow">
									</div>
									<label for="appearance3" class="radio_label">прямо сейчас</label>
								</td>
							</tr>
							<tr>
								<td class="label_td">&nbsp;</td>
								<td class="time_select">
									<div class="radio">
										<div></div>
										<input type="radio" id="appearance4" class="radio inside_radio" name="time" />
									</div>
									<label for="appearance4"><span class="txt">с</span></label>
									<div class="short">
										<select name="proccallfrom" id="select12" class="">
											<option value="10:00">10:00</option>
											<option value="11:00">11:00</option>
											<option value="12:00">12:00</option>
										</select>
									</div>
									<label for="appearance4"><span class="txt">до</span></label>
									<div class="short">
										<select name="proccallto" id="select13" class="">
											<option value="10:00">10:00</option>
											<option value="11:00">11:00</option>
											<option value="12:00">12:00</option>
										</select>
									</div>
								</td>
							</tr>
						</table>
						<div class="form_table hidden" id="appearance2__"></div>
						<div class="ovh popup_bd_block">
							<div class="appearance_l radio">
								<div></div>
								<input type="radio" name="radio2" class="appearance" id="appearance2" />
							</div>
							<div class="appearance_r">
								<label for="appearance2" class="label">Полное оформление</label>
								<p>Заполните всю необходимую информацию на сайте.</p>
							</div>
						</div>
						<div class="btn_if hidden" id="appearance1_">							
							<div class="reset l"><a href="#popup_submit3" class="popup_link">Отменить</a></div>
							<!--<div class="submit r"  id = 'orderproccall'><a href="#popup_submit1" class="popup_link">Заказать</a></div>-->
							<div class="submit r"  id = 'orderproccall'><a id="remember">Заказать</a></div>
							
						</div>
						<div class="btn_if hidden" id="appearance2_">
							<div class="submit flr">
								<a href="#popup5" class="popup_link">Следующий шаг</a>								
							</div>
							<p class="steps_left">Осталось 5 шагов</p>
						</div>						
					</form>		
					<div class="clear"></div>					
				</div>
			</div>
			
			<div class="popup" id="popup5" style="display:none">
				<div class="popup_reduser">
					<h2 class="border">Оформление заказа</h2>
					<form action="/secondstep/" id="secondstepform">
						<p class="tip_info">Информация об отправителе</p>
						<table class="appearance_inputs_table">
							<tr>
								<td class="label_td_long">
									<label for="appearance_name" class="label">ФИО:</label>
								</td>
								<td class="field_td">
									<input type="text" id="appearance_name" class="input" name = 'ot_fio' value="{{ request.user.first_name }} {{ request.user.last_name }}"/>
								</td>
								<td class="tip_td">&nbsp;</td>
							</tr>
							<tr>
								<td class="label_td_long">
									<label for="appearance_city" class="label" >Город нахождения:</label>
								</td>
								<td class="field_td">
									<input type="text" id="appearance_city" class="input" name = 'ot_city'/>
								</td>
								<td class="tip_td">&nbsp;</td>
							</tr>
							<tr>
								<td class="label_td_long">
									<label for="appearance_tel" class="label">Телефон:</label>
								</td>
								<td class="field_td">
									<input type="text" id="appearance_tel" class="input" name = 'ot_telnumber'/>
								</td>
								<td class="tip_td"><span class="pseudolink">Дополнительный телефон</span></td>
							</tr>
							<!--<tr class="hidden">-->
							<tr class="hidden" id="additional_phone">
								<td class="label_td_long">
									<label for="appearance_dom_tel" class="label">Доп. телефон:</label>
								</td>
								<td class="field_td">
									<input type="text" id="appearance_dom_tel" class="input" name = 'ot_dopnumber'/>
								</td>
								<td class="tip_td">&nbsp;</td>
							</tr>
							<tr>
								<td class="label_td_long">
									<label for="appearance_mail" class="label">E-mail:</label>
								</td>
								<td class="field_td">
									<input type="text" id="appearance_mail" class="input" name = 'ot_email' value="{{ request.user.email }}" />
								</td>
								<td class="tip_td">&nbsp;</td>
							</tr>
							<tr class="tr_last">
								<td class="label_td_long">&nbsp;</td>
								<td class="field_td ovv">
									<div>
										<label for="sms_mail" class="label sms_mail">Уведомить меня через <br />СМС-сообщение о <br />доставке адресату</label>
										<div class="checkbox">
											<div></div>
											<input type="checkbox" id="sms_mail" class="checkbox" name = 'sms_notification'/>
										</div>
									</div>
								</td>
								<td class="tip_td">&nbsp;</td>
							</tr>
						</table>
						<div class="btn_l">						
							<div class="reset short_padd">
								<a href="#popup3" class="popup_link">Предыдущий шаг</a>
							</div>
						</div>
						<div class="btn_r">
							<div class="submit short_padd flr" id = 'secondstep'>
								<a href="#popup6" class="popup_link">Следующий шаг</a>
								<!--<a>Следующий шаг</a>-->
							</div>
						</div>						
					</form>	
					<div class="clear"></div>	
					<p class="steps_left">Осталось 4 шага</p>	
				</div>
			</div>
						
			<div class="popup" id="popup6" style="display:none">
				<div class="popup_reduser">
					<h2 class="border">Оформление заказа</h2>
					<form action="/thirdstep/" id="thirdstepform" class="">
						<p class="tip_info">Способ доставки</p>
						<div class="ovh">
							<div class="appearance_l radio"><div></div><input type="radio" name="currier" id="appearance5" class="radio appearance" /></div>
							<div class="appearance_r">
								<label for="appearance5" class="label">Доставка курьером</label>
								<p>Ознакомьтесь с <a href="/delivery" target = "blank" >тарифами на курьерскую доставку</a>.</p>
							</div>
						</div>										
						<table class="form_table grey hidden" id="appearance5__">
							<tr class="first_tr">
								<td class="label_td">
									<label for="popup_city" class="label">Адрес доставки: <span>*</span></label>
								</td>
								<td><input type="text" id="popup_city" class="input" name = 'currier_city'/></td>
							</tr>
							<tr>
								<td class="label_td"><label for="popup_date" class="label">Дата доставки: <span>*</span></label></td>
								<td>
									<div class="date_input">
										<input type="text" id="popup_date" class="input" name = 'currier_date' />
										<span></span>
									</div>
								</td>
							</tr>
							<tr>
								<td class="label_td">&nbsp;</td>
								<td class="time_select">
									<div class="radio">
										<div></div>
										<input type="radio" id="popup_time" class="radio inside_radio" name="currier_time_radio" />
									</div>
									<label for="popup_time"><span class="txt">с</span></label>
									<div class="short">
										<select name="currier_from" id="select14" class="">
											<option value="10:00">10:00</option>
											<option value="11:00">11:00</option>
											<option value="12:00">12:00</option>
										</select>
									</div>
									<label for="popup_time"><span class="txt">до</span></label>
									<div class="short">
										<select name="currier_to" id="select15" class="">
											<option value="10:00">10:00</option>
											<option value="11:00">11:00</option>
											<option value="12:00">12:00</option>
										</select>
									</div>
								</td>
							</tr>
						</table>
						<div class="ovh">
							<div class="appearance_l radio"><div></div><input type="radio" name="selfevac" id="appearance6" class="appearance radio" /></div>
							<div class="appearance_r">
								<label for="appearance6" class="label">Самовывоз</label>
								<p>Вы можете бесплатно забрать свой заказ в <a href="/contacts" target = "blank">нашем магазине</a>.</p>
							</div>
						</div>
						<table class="form_table grey hidden " id="appearance6__">
							<tr class="first_tr">
								<td class="label_td"><label for="popup_date3" class="label">Дата самовывоза:</label></td>
								<td>
									<div class="date_input">
										<input type="text" id="popup_date3" class="input" value="" name="selfevac_date" />
										<span></span>
									</div>
								</td>
							</tr>
							<tr>
								<td class="label_td">&nbsp;</td>
								<td class="time_select">
									<div class="radio">
										<div></div>
										<input type="radio" id="popup_time3" class="radio inside_radio" name="selfevac_time" />
									</div>
									<label for="popup_time3"><span class="txt">с</span></label>
									<div class="short">
										<select name="selfevac_from" id="select16" class="">
											<option value="10:00">10:00</option>
											<option value="11:00">11:00</option>
											<option value="12:00">12:00</option>
										</select>
									</div>
									<label for="popup_time3"><span class="txt">до</span></label>
									<div class="short">
										<select name="selfevac_to" id="select17" class="">
											<option value="10:00">10:00</option>
											<option value="11:00">11:00</option>
											<option value="12:00">12:00</option>
										</select>
									</div>
								</td>
							</tr>
						</table>
						<div class="popup_bd_block no_pd"></div>
						<div class="btn_l">
							<div class="reset short_padd">
								<a href="#popup5" class="popup_link">Предыдущий шаг</a>
							</div>
						</div>
						<div class="btn_r">						
							<div class="submit flr short_padd" id="thirdstep">
								<!--<a href="#popup7" class="popup_link">Следующий шаг</a>-->
								<a>Следующий шаг</a>
							</div>
						</div>
					</form>
					<p class="steps_left">Осталось 3 шага</p>
					<div class="clear"></div>
				</div>
			</div>
			
			
			
			<div class="popup" id="popup7" style="display:none">
				<div class="popup_reduser">
					<h2 class="border">Оформление заказа</h2>
					<form action="/fourthstep/" id="fourthstepform" method = "post">
						<p class="tip_info">Информация о получаетеле</p>
						<table class="appearance_inputs_table">
							<tr>
								<td class="label_td_long">
									<label for="appearance_name2" class="label">ФИО: <span>*</span></label>
								</td>
								<td class="field_td">
									<input type="text" id="appearance_name2" class="input" name = "p_fio"/>
								</td>
								<td class="tip_td">&nbsp;</td>
							</tr>
							<tr>
								<td class="label_td_long">
									<label for="appearance_tel2" class="label">Телефон: <span>*</span></label>
								</td>
								<td class="field_td">
									<input type="text" id="appearance_tel2" class="input" name = "p_tel"/>
								</td>
								<td class="tip_td">&nbsp;</td>
							</tr>
							<tr>
								<td class="label_td_long">
									<label for="appearance_to_who" class="label">Адрес получателя: <span>*</span></label>
								</td>
								<td class="field_td">
									<input type="text" id="appearance_to_who" class="input" name = "p_address"/>
								</td>
								<td class="tip_td">&nbsp;</td>
							</tr>
							<tr>
								<td class="label_td_long">
									&nbsp;
								</td>
								<td class="checkbox_td">
									<div class="checkbox">
										<div></div>
										<input type="checkbox" id="checkbox1" class="checkbox" name = "p_askaddress"/>
									</div>
									<label for="checkbox1" class="label">Уточнить адрес у получателя</label>
								</td>
								<td class="tip_td">&nbsp;</td>
							</tr>
							<tr>
								<td class="label_td_long vat">
									<label for="popup_textarea" class="label">Комментарий:</label>
								</td>
								<td colspan="2">
									<textarea name="p_comment" id="popup_textarea"></textarea>
								</td>
							</tr>
							<tr>
								<td class="label_td_long">
									&nbsp;
								</td>
								<td class="checkbox_td">								
									<div class="checkbox">
										<div></div>
										<input type="checkbox" id="checkbox2" class="checkbox" name = "p_pred_zvon"/>
									</div>
									<label for="checkbox2" class="label">Предварительный звонок</label>
								</td>
								<td class="tip_td">&nbsp;</td>
							</tr>
							<tr>
								<td class="label_td_long">
									&nbsp;
								</td>
								<td class="checkbox_td">
									<div class="checkbox">
										<div></div>
										<input type="checkbox" id="checkbox3" class="checkbox" name = "p_anon"/>
									</div>
									<label for="checkbox3" class="label">Анонимная посылка</label>
								</td>
								<td class="tip_td">&nbsp;</td>
							</tr>
							<tr>
								<td class="label_td_long">
									&nbsp;
								</td>
								<td class="checkbox_td">
									<div class="checkbox">
										<div></div>
										<input type="checkbox" id="checkbox5" class="checkbox" name = "p_inhands"/>
									</div>
									<label for="checkbox5" class="label">Лично в руки</label>
								</td>
								<td class="tip_td">&nbsp;</td>
							</tr>
							<tr class="tr_last">
								<td class="label_td_long">
									&nbsp;
								</td>
								<td class="checkbox_td">
									<div class="checkbox">
										<div></div>
										<input type="checkbox" id="checkbox6" class="checkbox" name = "p_makephoto"/>
									</div>
									<label for="checkbox6" class="label">Сфотографировать получателя</label>
								</td>
								<td class="tip_td">&nbsp;</td>
							</tr>
						</table>
						<div class="btn_l">						
							<div class="reset short_padd">
								<a href="#popup6" class="popup_link">Предыдущий шаг</a>
							</div>
						</div>
						<div class="btn_r">
							<div class="submit short_padd flr" id = "fourthstep">
								<!--<a href="#popup8" class="popup_link">Следующий шаг</a>-->
								<a>Следующий шаг</a>
							</div>
						</div>						
					</form>
					<p class="steps_left">Осталось 2 шага</p>
					<div class="clear"></div>			
				</div>
			</div>
			
			
			
			
			
			<div class="popup" id="popup8" style="display:none">
				<div class="popup_reduser">
					<h2 class="border">Оформление заказа</h2>
					<form action="/fifthstep/" id="fifthstepform">
						<p class="tip_info">Метод оплаты:</p>
						<div class="ovh mb">
							<div class="appearance_l radio checked">
								<div></div>
								<input type="radio" name="cash_for_courier" id="appearance11" class="radio appearance" checked = "checked" />
							</div>
							<div class="appearance_r">
								<label for="appearance11" class="label">Наличными курьеру</label>
							</div>
						</div>
						<div class="ovh mb">
							<div class="appearance_l radio">
								<div></div>
								<input type="radio" name="cash_in_salon" id="nal2" class="radio lit_top appearance" />
							</div>
							<div class="appearance_r">
								<label for="nal2" class="label">Наличными в салоне</label>
							</div>
						</div>
						<div class="popup_bd_block ovv">
							<div class="appearance_l radio">
								<div></div>
								<input type="radio" id="nal7" class="radio lit_top appearance" name = "clearing" />
							</div>
							<div class="appearance_r ovv">
								<label for="nal7" class="label beznal">Безналичный расчет</label>
								<div class="payments">
									<div class="pay_4"></div>
									<div class="pay_5"></div>
									<div class="pay_2"></div>
									<div class="pay_3"></div>
									<div class="pay_1"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<div class="btn_l">
							<div class="reset short_padd"><a href="#popup7" class="popup_link">Предыдущий шаг</a></div>
						</div>
						<div class="btn_r" id = "fifthstep">						
							<div class="submit flr short_padd"><a href="#popup9" class="popup_link">Следующий шаг</a></div>
						</div>
					</form>
					<p class="steps_left">Остался 1 шаг</p>
					<div class="clear"></div>
				</div>
			</div>
			
			
			
			<div class="popup" id="popup9" style="display:none">
                                <div class="popup_reduser">
                                        <h2 class="border">Оформление заказа</h2>
                                        <form action="/sixthstep/" id="sixthstepform">
                                                <p class="tip_info">Подтверждение заказа:</p>
                                                <table class="to_cart_table">
													{% for item, quantity in cart.items %}
                                                        <tr>
                                                                <td class="to_cart_img_td">
                                                                        <a href="{{ item.get_absolute_url }}" class="lit_prev">
                                                                                <img width="52" height="52" border="0" alt="" src="{{ item.get_first_image }}">
                                                                        </a>
                                                                </td>
                                                                <td>
                                                                        <a href="{{ item.get_absolute_url }}">{{ item }}</a> <!--<i>(арт.898989)</i>-->
                                                                </td>
                                                                <td class="price_td"><em class="price_num">{{ item.price }}</em> <span class="rur">p<span>уб.</span></span></td>
                                                        </tr>
													{% endfor %}
                                                        <!--<tr>
                                                                <td class="to_cart_img_td">
                                                                        <a href="item.html" class="lit_prev">
                                                                                <img width="52" height="52" border="0" alt="" src="i/lit-img-1.jpg">
                                                                        </a>
                                                                </td>
                                                                <td>
                                                                        <a href="item.html">Свадебный букет</a> <i>(арт.898989)</i>
                                                                </td>
                                                                <td class="price_td"><em class="price_num">2500</em> <span class="rur">p<span>уб.</span></span></td>
                                                        </tr>
                                                        <tr class="last_tr">
                                                                <td class="to_cart_img_td">
                                                                        <a href="item.html" class="lit_prev">
                                                                                <img width="52" height="52" border="0" alt="" src="i/lit-img-3.jpg">
                                                                        </a>
                                                                </td>
                                                                <td>
                                                                        <a href="item.html">Свадебный букет</a> <i>(арт.898989)</i>
                                                                </td>
                                                                <td class="price_td"><em class="price_num">2500</em> <span class="rur">p<span>уб.</span></span></td>
                                                        </tr>-->
                                                </table>
                                                <div class="to_cart_grey_block">Итого: <em class="price_total">{{ total_summ }}</em> <span class="rur">p<span>уб.</span></span></div>
                                                <div class="ovv_mb">
                                                        <div class="checkbox appearance_l">
                                                                <div></div>
                                                                <input type="checkbox" id="checkbox7" class="checkbox" name="is_postcard" />
                                                        </div>                                          
                                                        <label for="checkbox7" class="label appearance_r">Приложить открытку</label>
                                                </div>
                                                <div class="clear"></div>
                                                <table class="form_table grey">
                                                        <tr class="first_tr">
                                                                <td class="label_td long vat">
                                                                        <label for="text_otkr" class="label">Текст открытки:</label>
                                                                </td>
                                                                <td><textarea id="text_otkr" name = "postcard_text"></textarea></td>                                                    
                                                        </tr>
                                                        <tr>
                                                                <td class="label_td long"><label for="signature" class="label">Подпись:</label></td>
                                                                <td>
                                                                        <input type="text" id="signature" class="input" name = "postcard_signature"/>
                                                                </td>
                                                        </tr>
                                                </table>
                                                <div class="ovh popup_bd_block">
                                                        <div class="appearance_l checkbox">
                                                                <div></div>
                                                                <input type="checkbox" id="checkbox11" class="checkbox" name = "eula"/>
                                                        </div>
                                                        <label id="eula" for="checkbox11" class="label appearance_r">Я согласен с условиями <a href="/delivery" target="_blank">доставки</a> и <a href="/payment" target="_blank">оплаты</a></label>
                                                </div>
                                                <div class="btn_l">
                                                        <div class="reset short_padd"><a href="#popup8" class="popup_link">Предыдущий шаг</a></div>
                                                </div>
                                                <div class="btn_r" id="sixthstep">                                              
                                                       <!-- <div class="submit last short_padd"><a href="#popup_submit2" class="popup_link">Сделать заказ</a></div>-->
													    <div class="submit last short_padd"><a id="last_anchor">Сделать заказ</a></div>
														
														
                                                </div>
                                        </form>
										

										
                                        <p class="steps_left">Последний шаг</p>
                                        <div class="clear"></div>
                                </div>
                        </div>
			
			
			
			<div class="popup short" id="popup_auth" style="display:none">
				<div class="popup_reduser">
					<h2 class="border"></h2>
					<p class="list_item_desc">Вы должны быть авторизованы.</p>
					<div class="clear"></div>
				</div>
			</div>
			<div class="popup short" id="popup_submit1" style="display:none">
				<div class="popup_reduser">
					<h2 class="border">Спасибо! Ваш заказ принят.</h2>
					<p class="list_item_desc">В ближайшее время с вами свяжется наш оператор. </p>
					<div class="clear"></div>
				</div>
			</div>
			<div class="popup short" id="popup_submit2" style="display:none">
				<div class="popup_reduser">
					<h2 class="border two_line">Спасибо! Ваш заказ принят </h2>
					<p class="list_item_desc">В ближайшее время с вами свяжется наш оператор. </p>
					<div class="clear"></div>
				</div>
			</div>
			<div class="popup short" id="popup_submit3" style="display:none">
				<div class="popup_reduser">
					<h2 class="border two_line">К сожалению операция завершилась ошибкой.</h2>
					<p class="list_item_desc">Уточните введённую информацию или попробуйте позже.</p>
					<div class="clear"></div>
				</div>
			</div>
			<div class="popup short" id="popup_login" style="display:none">

			<div class="popup short" id="popup_clear_cart" style="display:none">
				<div class="popup_reduser">
					<h2 class="border two_line">Очистить корзину?</h2>
					<div class="submit last short_padd"style = "background-color: red;"><a href = "/clear_cart">Очистить</a></div>
					<div class="reset last short_padd" id="reset_clear_cart"><a>Отмена</a></div>
					<div class="clear"></div>
				</div>
			</div>			
			
		</div>
	</div>
{% block menuscript %}	
<script>
	$(document).ready(function(){
	
		var s = $('a').filter(function(){
			return $(this).text() === "{{cat.name}}";
			});
		
	   
		
		$(s).css({'color' : 'red'});
		$(s.parent()).addClass('active');
		$(s.parent().parent()).addClass('active');
		$(s.parent().parent().parent()).addClass('active');
		$(s.parent().parent().parent().parent()).addClass('active');
		$(s.parent().parent().parent().parent().parent()).addClass('active');
		$(s.parent().parent().parent().parent().parent().parent()).addClass('active');
		$(s.parent().parent().parent().parent().parent().parent().parent()).addClass('active');
		$(s.parent().parent().parent().parent().parent().parent().parent().parent()).addClass('active');
		$(s.parent().parent().parent().parent().parent().parent().parent().parent().parent()).addClass('active');
		$(s.parent().parent().parent().parent().parent().parent().parent().parent().parent().parent()).addClass('active');
		$(s.parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().parent()).addClass('active');
		
				
		$('#rgt li').click(function(e){
			e.stopPropagation();//Отменяем клик на родительский LI
			if($(this).hasClass('active')){
				$(this).removeClass('active');
			}else{
				$(this).addClass('active');
			}
			
		});
		
		
		
	});
</script>
{% endblock menuscript %}
	
</body>
</html>