{% extends "base.html" %}
{% block title %}Корзина{% endblock title %}
{% block upper_menu %}
<div class="menu_bg">
        <table class="menu">
                <tr>
                        <td>
                                <div class="menu_item">
                                        <a href="/">Главная</a>
                                        <div class="c">
                                                <div class="cc curr_page_icon"></div>
                                        </div>
                                </div>
                        </td>
                        <td>
                                <div class="menu_item">
                                        <a href="/about">О нас</a>
                                        <div class="c">
                                                <div class="cc curr_page_icon"></div>
                                        </div>
                                </div>
                        </td>
                        <td>
                                <div class="menu_item">
                                        <a href="/delivery">Доставка</a>
                                        <div class="c">
                                                <div class="cc curr_page_icon"></div>
                                        </div>
                                </div>
                        </td>
                        <td>
                                <div class="menu_item">
                                        <a href="/payment">Оплата</a>
                                        <div class="c">
                                                <div class="cc curr_page_icon"></div>
                                        </div>
                                </div>
                        </td>
                        <td>
                                <div class="menu_item">
                                        <a href="/discounts">Скидки</a>
                                        <div class="c">
                                                <div class="cc curr_page_icon"></div>
                                        </div>
                                </div>
                        </td>
                        <td>
                                <div class="menu_item">
                                        <a href="/contacts">Контактная информация</a>
                                        <div class="c">
                                                <div class="cc curr_page_icon"></div>
                                        </div>
                                </div>
                        </td>
                </tr>
        </table>
</div>
{% endblock upper_menu %}

{% block content %}
<div class="l">
						<ul class="breadcrumbs">
							<li><a href="/">Главная</a></li>
							<li>&raquo;</li>
							<li class="curr"><span>Корзина</span></li>
						</ul>
						<h2 class="border no_marg">Корзина</h2>
                        {% if cart %}
						<table id="cart_table" class="to_cart_table">
						{% for item, quantity in cart.items %}
                        <form id="updatecart" method = 'post' action = '/updatecart/'>
                            <tr>
								<td class="to_cart_img_td">
									<a href="/product/{{ item.get_absolute_url }}" class="lit_prev">
										<img width="52" height="52" border="0" alt="" src="{{ item.get_first_image }}">
									</a>
								</td>
								<td>
									<a href="/product/{{ item.get_absolute_url }}">{{ item.name }}</a> <!--<input class="invis" type = "input" name= "{{ item.name }}" value = "{{ item.name }}"/>--><!--<i>(арт.898989)</i>-->
								</td>
								<td class="price_td"><em class="price_num">{{ item.price }}</em> <span class="rur">p<span>уб.</span></span></td>
								<td class="plus_minus_td">
									<div class="div">
										<div class="cart_action plus"></div>
										<div class="cart_action minus"></div>
										<div class="cart_action_num">{{ quantity }}</div><input class="invis" type = "input" name= "{{ item.name }}" value = "{{ quantity }}"/>
									</div>
								</td>
								<td class="remove_icon_td"><div class="close"></div></td>
							</tr>
                        {% endfor %}
						
                            
						</table>
						<div class="to_cart_grey_block">Итого: <em class="price_total">{{ total_summ }}</em> <span class="rur">p<span>уб.</span></span></div>
						{% else %}
                        <h2 style="color: red; margin-bottom: 120px; margin-top: 120px; margin-left: 200px;">Корзина пуста</h2>
                        
                        {% endif %}
                        <div class="delivery_price">
                        
							<p>
								<span></span>
								<a href="/delivery">Рассчитать стоимость доставки</a>
							</p>
                        {% if cart %}
							<div class="delivery_price_btns">
								<div class="submit"><input type="submit" value="Сохранить" id='save_cart' /></div>
								<a href="#popup_clear_cart" class = "popup_link"><div class="reset"><input type="reset" value="Очистить" id = 'clear_cart'/></div></a>
							</div>
                            </form>	
                        {% endif %}
						</div>
					</div>
{% endblock content %}

<!--$('#cart_table tr td:eq(1) a').text();
"Второй букет"
-->
{% block bottom_menu %}
						<div class="bottom_menu">
							<div class="l">
								<a href="/">Главная</a>
								<a href="/about">О нас</a>
								<a href="/delivery">Доставка</a>
								<a href="/payment">Оплата</a>
								<a href="/discounts">Скидки</a>
								<a href="/contacts">Контактная информация</a>
							</div>
						</div>
					{% endblock bottom_menu %}