{% extends 'base.html' %}
{% load pagination_tags %}
{% block title %}{{ content.title }}{% endblock title %}
{% block meta_keywords %}{{ content.meta_keywords }}{% endblock meta_keywords %}
{% block meta_description %}{{ content.meta_description }}{% endblock meta_description %}
{% block upper_menu %}
<div class="menu_bg">
    <table class="menu">
            <tr>
                    <td>
                            <div class="menu_item">
                                        <a href="/">Главная</a>
                                        <div class="c">
                                                <div class="cc curr_page_icon"></div>
                                        </div>
                                </div>
                    </td>
                    <td>
                            <div class="menu_item">
                                    <a href="/about">О нас</a>
                                    <div class="c">
                                            <div class="cc curr_page_icon"></div>
                                    </div>
                            </div>
                    </td>
                    <td>
                            <div class="menu_item">
                                    <a href="/delivery">Доставка</a>
                                    <div class="c">
                                            <div class="cc curr_page_icon"></div>
                                    </div>
                            </div>
                    </td>
                    <td>
                            <div class="menu_item">
                                    <a href="/payment">Оплата</a>
                                    <div class="c">
                                            <div class="cc curr_page_icon"></div>
                                    </div>
                            </div>
                    </td>
                    <td>
                            <div class="menu_item">
                                    <a href="/discounts">Скидки</a>
                                    <div class="c">
                                            <div class="cc curr_page_icon"></div>
                                    </div>
                            </div>
                    </td>
                    <td>
                            <div class="menu_item">
                                    <a href="/contacts">Контактная информация</a>
                                    <div class="c">
                                            <div class="cc curr_page_icon"></div>
                                    </div>
                            </div>
                    </td>
            </tr>
    </table>
</div>
{% endblock upper_menu %}



{% block content %}



<div class="l">
	<ul class="breadcrumbs">
		<li><a href="/">Главная</a></li>
		<li>&raquo;</li>
		
		
		{% for i in cat.get_ancestors %}				
				<li><a href="/category/{{ i.get_absolute_url }}">{{ i.name }}</a></li>
				<li>&raquo;</li>	
		{% endfor %}
		
		<li class="curr"><span>{{ cat.name }}</span></li>
		
				
	</ul>
    <!--<h2 class="border">
		<em>{{ cat.name }}</em>
		<div class="filter_category">
			<form action="/category/{{ cat.get_absolute_url }}/" method="post" id="filtr">
				<div class="filter_category_block long">
					<p>Сортировать по</p>
					<select name="" id="sel7" class="">
						<option value="1">новизне</option>
						<option value="2">популярности</option>
						<option value="3">цене</option>
						<option value="4">цвету</option>
						<option value="5">форме</option>
					</select>
				</div>
				<div class="filter_category_block">
					<p>Показывать по</p>
					<select name="pagin" id="sel8" class="selclass">
						<option value="1"{% if category_lpp == 1 %} selected = "selected"{% endif %}>6</option>
						<option value="2"{% if category_lpp == 2 %} selected = "selected"{% endif %}>9</option>
						<option value="3"{% if category_lpp == 3 %} selected = "selected"{% endif %}>12</option>
						<option value="4"{% if category_lpp == 4 %} selected = "selected"{% endif %}>15</option>
						<option value="5"{% if category_lpp == 5 %} selected = "selected"{% endif %}>Все</option>
					</select>
				</div>
			</form>
		</div>
	</h2>-->
	<script>
		
	$(document).ready(function(){
		
		$(".selclass").change(function() {
		$('#filtr').submit();
				});
		
		
		});	
		
		
	</script>
	
	
						<h2 class="border">
							<em>{{ cat.name }}</em>
										
					
							
							<div class="filter_category">
								
								
								<form action="/category/{{ cat.get_absolute_url }}/" method="post" id="filtr">
									
									<div id = "show_cat" class="filter_category_block short">
										<p>Показывать по</p>
										<select name="pagin" id="sel8" class="selclass">
											<option value="1"{% if category_lpp == 1 %} selected = "selected"{% endif %}>6</option>
											<option value="2"{% if category_lpp == 2 %} selected = "selected"{% endif %}>9</option>
											<option value="3"{% if category_lpp == 3 %} selected = "selected"{% endif %}>12</option>
											<option value="4"{% if category_lpp == 4 %} selected = "selected"{% endif %}>15</option>
											<option value="5"{% if category_lpp == 5 %} selected = "selected"{% endif %}>Все</option>
										</select>
									</div>
								</form>
							</div>
						</h2>
	
	
	
	
		
		<div id="mass">
				
				
				{% for item in items %}
				{% if item.is_new %}
				<div class="list_item">
					<a href="/product/{{ item.get_absolute_url }}" class="list_item_img">
						<div class="new"></div>
						<img src="{{ item.get_first_image }}" width="170" height="170" border="0" alt="" />
						<div class="list_item_price"><em>{{ item.price }}<span class="rur">p<span>уб.</span></span></em></div>
					</a>
					<div class="list_item_name"><a href="/product/{{ item.get_absolute_url }}">{{ item.name }}</a></div>
					<p class="list_item_desc">{{ item.description }}</p>
				</div>
				{% else %}
				<div class="list_item">
					<a href="/product/{{ item.get_absolute_url }}" class="list_item_img">
						<img src="{{ item.get_first_image }}" width="170" height="170" border="0" alt="" />
						<div class="list_item_price"><em>{{ item.price }}<span class="rur">p<span>уб.</span></span></em></div>
					</a>
					<div class="list_item_name"><a href="/product/{{ item.get_absolute_url }}">{{ item.name }}</a></div>
					<p class="list_item_desc">{{ item.description }}</p>
				</div>
				{% endif %}
				{% endfor %}
								
		</div>
		
		
		<script type="text/javascript">
		function handleSelect(elm)
		{
		window.location = elm.value;
		}
		</script>
		
		<div id="paginator_container" style="float: left;">
		<div class="paginator_outer">
			<ul class="paginator l">
				{% if items.has_previous %}
				<li class="prev"><a href="?page={{ items.previous_page_number }}"><i>Назад</i><em></em></a></li>
				{% else %}
				<li class="prev"><a href="#"><i>Назад</i><em></em></a></li>
				{% endif %}
				{% for p in paginator.page_range %}
				
				{% if p == items.number %}
				<li><span>{{ p }}</span></li>
				{% else %}
				<li><a href="?page={{ forloop.counter }}">{{ p }}</a></li>
				{% endif %}
				
				
				{% endfor %}
				
				{% if items.has_next %}
				<li class="next"><a href="?page={{ items.next_page_number }}"><i>Вперед</i><em></em></a></li>
				{% else %}
				<li class="next"><a href="#"><i>Вперед</i><em></em></a></li>
				{% endif %}
			</ul>
			<div class="filter_category_block">
				<form action="" class="short">
					<select name="" id="sel9" onchange="javascript:handleSelect(this)">
						{% for p in paginator.page_range %}
						{% if p == items.number %}
						<option value="?page={{ p }}" selected = "selected">{{ p }}</option>
						{% else %}
						<option value="?page={{ p }}">{{ p }}</option>
						{% endif %}
						{% endfor %}
					</select>
					<p>Перейти на страницу</p>
				</form>
			</div>
			<div class="clear"></div>
		</div>
		</div>
		
		
	

		<!--<div class="paginator_outer">
			<ul class="paginator l">						
				<li class="prev"><a href="#"><i>Назад</i><em></em></a></li>
				<li class="curr"><span>1</span></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#">13</a></li>
				<li class="next"><a href="#"><i>Вперед</i><em></em></a></li>
			</ul>
			<div class="filter_category_block">
				<form action="" class="short">
					<select name="" id="sel9">
						<option value="">1</option>
						<option value="">2</option>
						<option value="">12</option>
						<option value="">32</option>
					</select>
					<p>Перейти на страницу</p>
				</form>
			</div>
			<div class="clear"></div>
		</div>-->
	
	
	
	
</div><!-- End of div.l-->


{% endblock content %}

					{% block bottom_menu %}
						<div class="bottom_menu">
							<div class="l">
								<a href="/">Главная</a>
								<a href="/about">О нас</a>
								<a href="/delivery">Доставка</a>
								<a href="/payment">Оплата</a>
								<a href="/discounts">Скидки</a>
								<a href="/contacts">Контактная информация</a>
							</div>
							
						</div>
					{% endblock bottom_menu %}
