{% extends "base.html" %}
{% block title %}Контакты{% endblock title %}
{% block upper_menu %}
<div class="menu_bg">
					<table class="menu">
						<tr>
							<td class="first">
								<div class="menu_item">
									<a href="/">Главная</a>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
							<td>
								<div class="menu_item">
									<a href="/about">О нас</a>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
							<td>
								<div class="menu_item">
									<a href="/delivery">Доставка</a>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
							<td>
								<div class="menu_item">
									<a href="/payment">Оплата</a>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
							<td>
								<div class="menu_item">
									<a href="/discounts">Скидки</a>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
							<td class="last">
								<div class="menu_item curr">
									<span>Контактная информация</span>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
{% endblock upper_menu %}

{% block content %}
<div class="l">
						<ul class="breadcrumbs">
							<li><a href="index.html">Главная</a></li>
							<li>&raquo;</li>
							<li class="curr"><span>Контакты</span></li>
						</ul>
						<h2 class="border">Контакты</h2>
						<div class="item_block">
							<p class="cont_info">
								<span class="contacts_l">НАШ АДРЕС:</span>
								<span class="contacts_r">г. Челябинск, ул. Академика Сахарова, д. 10 (<a href="http://maps.yandex.ua/-/CVqFzV1W">Яндекс.Карта</a>)</span>
							</p>
							<p class="cont_info sup">
								<span class="contacts_l">МЫ РАБОТАЕМ:</span>
								<span class="contacts_r">Круглосуточно, без перерывов и выходных</span>
							</p>
							<p class="cont_info last">
								<span class="contacts_l">E-MAIL:</span>
								<span class="contacts_r"><a href="mailto:contact@amelia-shop.ru">contact@amelia-shop.ru</a></span>
							</p>
							<div class="map_block">
								<script charset="utf-8" type="text/javascript" src="http://firmsonmap.api.2gis.ru/js/DGWidgetLoader.js"></script>
								<script charset="utf-8" type="text/javascript">new DGWidgetLoader({"borderColor":"#a3a3a3","width":"558","height":"400","wid":"4eedc8e95d7c6769e18e1e0372ddf59a","pos":{"lon":"61.298044257485","lat":"55.159971430747","zoom":"18"},"opt":{"ref":"hidden","card":["name","contacts","schedule","payings"],"city":"chelyabinsk"},"org":[{"id":"2111590608329375"}]});</script>
								<noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
							</div>
						</div>
					</div>

{% endblock content %}
{% block bottom_menu %}
						<div class="bottom_menu">
							<div class="l">
								<a href="/">Главная</a>
								<a href="/about">О нас</a>
								<a href="/delivery">Доставка</a>
								<a href="/payment">Оплата</a>
								<a href="/discounts">Скидки</a>
								<span>Контактная информация</span>
							</div>
							
						</div>
					{% endblock bottom_menu %}