{% extends 'base.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load pagination_tags %}
{% load mptt_tags %}
{% block title %}{{ text.title }}{% endblock title %}
{% block meta_keywords %}{{ content.meta_keywords }}{% endblock meta_keywords %}
{% block meta_description %}{{ content.meta_description }}{% endblock meta_description %}

{% block upper_menu %}
	<div class="menu_bg">
					<table class="menu">
						<tr>
							<td class="first">
								<div class="menu_item curr">
									<span>Главная</span>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
							<td>
								<div class="menu_item">
									<a href="/about">О нас</a>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
							<td>
								<div class="menu_item">
									<a href="/delivery">Доставка</a>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
							<td>
								<div class="menu_item">
									<a href="/payment">Оплата</a>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
							<td>
								<div class="menu_item">
									<a href="/discounts">Скидки</a>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
							<td class="last">
								<div class="menu_item">
									<a href="/contacts">Контактная информация</a>
									<div class="c">
										<div class="cc curr_page_icon"></div>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
{% endblock upper_menu %}


{% block content %}

<div class="l">
	<div class="slide_banner_block">
		<div class="slide_banner_list">
								{% for item in slider_items %}
								{% if forloop.first %}
								<div class="slide_banner_item" id="slidebanner_{{ forloop.counter }}_">
									<img src="{{ item.image.url }}" width="560" height="200" border="0" alt="" />
									<h3><span></span><a href="{{ item.link }}">{{ item.slogan }}</a></h3>
								</div>
								{% else %}
								<div class="slide_banner_item hidden" id="slidebanner_{{ forloop.counter }}_">
									<img src="{{ item.image.url }}" width="560" height="200" border="0" alt="" />
									<h3><span></span><a href="{{ item.link }}">{{ item.slogan }}</a></h3>
								</div>
								{% endif %}
								{% endfor %}
			
			<!--{% for item in slider_items %}
				<div class="slide_banner_item" id="slidebanner_{{ forloop.counter }}_">
				  <img src="{{ item.image.url }}" width="560" height="200" border="0" alt="" />
				  <h3><span></span><a href="item.html">{{ item.slogan }}</a></h3>
			    </div>
			{% endfor %}-->
			
		</div>
		<div class="slide_banner_prev"></div>
		<div class="slide_banner_next"></div>
	</div>
	<h2>Новинки<a class="lastClass" href="/all_new_prod">Все новинки</a></h2>
	
	
	<div class="list_block">
		<div class="list">
			<div class="list_">
				{% for product in new_products %}
				<div class="list_item">
					<a href="/product/{{ product.get_absolute_url }}" class="list_item_img">
						<div class="new"></div>
						<img src="{{ product.get_first_image }}" width="170" height="170" border="0" alt="" />
						<div class="list_item_price"><em>{{ product.price }} <span class="rur">p<span>уб.</span></span></em></div>
					</a>
					<div class="list_item_name"><a href="/product/{{ product.get_absolute_url }}">{{ product.name }}</a></div>
					<p class="list_item_desc">{{ product.description }}</p>
				</div>
				{% endfor %}
			</div>
		</div>
		<div name="prev" class="slide_prev"></div>
		<div name="next" class="slide_next"></div>
	</div>
	
	
	
	
	<h2>Рекомендуем<a class="lastClass" href="/all_recommendations">Все рекомендации</a></h2>
	<div class="list_block">
		<div class="list">
			<div class="list_">
				
				{% for prod in recommended_products %}
				{% if prod.is_new %}
					<div class="list_item">
					<a href="/product/{{ prod.get_absolute_url }}" class="list_item_img">
						<div class="new"></div>
						<img src="{{ prod.get_first_image }}" width="170" height="170" border="0" alt="" />
						<div class="list_item_price"><em>{{ prod.price }}<span class="rur">p<span>уб.</span></span></em></div>
					</a>
					<div class="list_item_name"><a href="/product/{{ prod.get_absolute_url }}">{{ prod.name }}</a></div>
					<p class="list_item_desc">{{ prod.description }}</p>
				</div>
				{% else %}	
				<div class="list_item">
					<a href="/product/{{ prod.get_absolute_url }}" class="list_item_img">
						
						<img src="{{ prod.get_first_image }}" width="170" height="170" border="0" alt="" />
						<div class="list_item_price"><em>{{ prod.price }}<span class="rur">p<span>уб.</span></span></em></div>
					</a>
					<div class="list_item_name"><a href="/product/{{ prod.get_absolute_url }}">{{ prod.name }}</a></div>
					<p class="list_item_desc">{{ prod.description }}</p>
				</div>
				{% endif %}
					
				{% endfor %}
				
				
				
			</div>
		</div>
		<div name="prev" class="slide_prev"></div>
		<div name="next" class="slide_next"></div>
	</div>
</div>	
{% endblock content %}



{% block about %}
<div class="clear"></div>
					<div class="about">
						<div class="l">
							
							{{ cont|safe }}
						</div>
						<div class="r">
							<h3>Новости</h3>
							
							{% autopaginate news 3 %}
							{% for new in news %}
							<div class="news">	
								<p class="date"><a href="/news/{{ new.get_absolute_url }}">{{ new.title }}</a> {{ new.date }}</p>
								<p>{{ new.anounce|safe }}</p>
							</div>
							{% endfor %}
							{% paginate %}
						</div>
					</div>	
{% endblock about %}

{% block bottom_menu %}
						<div class="bottom_menu">
							<div class="l">
								<span>Главная</span>
								<a href="/about">О нас</a>
								<a href="/delivery">Доставка</a>
								<a href="/payment">Оплата</a>
								<a href="/discounts">Скидки</a>
								<a href="/contacts">Контактная информация</a>
							</div>
						</div>
						{% endblock bottom_menu %}



