{% extends 'base.html' %}
{% load pagination_tags %}
{% load thumbnail %}
{% block title %}{{ content.title }}{% endblock title %}
{% block meta_keywords %}{{ content.meta_keywords }}{% endblock meta_keywords %}
{% block meta_description %}{{ content.meta_description }}{% endblock meta_description %}
{% block upper_menu %}
<div class="menu_bg">
    <table class="menu">
            <tr>
                    <td>
                            <div class="menu_item">
                                        <a href="/">Главная</a>
                                        <div class="c">
                                                <div class="cc curr_page_icon"></div>
                                        </div>
                                </div>
                    </td>
                    <td>
                            <div class="menu_item">
                                    <a href="/about">О нас</a>
                                    <div class="c">
                                            <div class="cc curr_page_icon"></div>
                                    </div>
                            </div>
                    </td>
                    <td>
                            <div class="menu_item">
                                    <a href="/delivery">Доставка</a>
                                    <div class="c">
                                            <div class="cc curr_page_icon"></div>
                                    </div>
                            </div>
                    </td>
                    <td>
                            <div class="menu_item">
                                    <a href="/payment">Оплата</a>
                                    <div class="c">
                                            <div class="cc curr_page_icon"></div>
                                    </div>
                            </div>
                    </td>
                    <td>
                            <div class="menu_item">
                                    <a href="/discounts">Скидки</a>
                                    <div class="c">
                                            <div class="cc curr_page_icon"></div>
                                    </div>
                            </div>
                    </td>
                    <td>
                            <div class="menu_item">
                                    <a href="/contacts">Контактная информация</a>
                                    <div class="c">
                                            <div class="cc curr_page_icon"></div>
                                    </div>
                            </div>
                    </td>
            </tr>
    </table>
</div>
{% endblock upper_menu %}



{% block content %}



<div class="l">
	<ul class="breadcrumbs">
		<li><a href="/">Главная</a></li>
		<li>&raquo;</li>
		{% for i in prodcrumbs %}
				<li><a href="/category/{{ i.get_absolute_url }}">{{ i.name }}</a></li>
				<li>&raquo;</li>
		{% endfor %}
		<li><a href="/category/{{ prod.category.get_absolute_url }}">{{ prod.category.name }}</a></li>
				
	</ul>
    <h2 class="border">{{ prod.name }}</h2>
						<div class="item_block">
							<div class="l">
								<div class="round_item">
									<a href="{{ prod.get_first_image }}" class="fancy_img fancybox" id="img_0_"><img src="{{ prod.get_first_image }}" width="265" height="265" border="0" alt="" />
									<div class="watermark"></div>
									<p><span><em></em>Увеличить</span></p></a>
									
									{% for image in prod.get_all_images %}
									<a href="{{ image }}" class="fancy_img fancybox hidden" id="img_{{ forloop.counter }}_"><img src="{{ image }}" width="265" height="265" border="0" alt="" />
									<div class="watermark"></div>
									<p><span><em></em>Увеличить</span></p></a>
									{% endfor %}
									
									<!--<a href="i/img-3.jpg" class="fancy_img fancybox hidden" id="img_3_"><img src="i/img-3.jpg" width="265" height="265" border="0" alt="" />
									<div class="watermark"></div>
									<p><span><em></em>Увеличить</span></p></a>
									<a href="i/img-4.jpg" class="fancy_img fancybox hidden" id="img_4_"><img src="i/img-4.jpg" width="265" height="265" border="0" alt="" />
									<div class="watermark"></div>
									<p><span><em></em>Увеличить</span></p></a>-->
								</div>
								{% for image in prod.get_all_images %}
								{% if forloop.last %}
								<a href="#" class="lit_prev last" id="img_{{ forloop.counter }}">
									<img src="{{ image }}" width="52" height="52" border="0" alt="" />
									<div></div>
								</a>
								{% else %}
								<a href="#" class="lit_prev curr" id="img_{{ forloop.counter }}">
									<img src="{{ image }}" width="52" height="52" border="0" alt="" />
									<div></div>		
								{% endif %}
								{% endfor %}
								<div class="clear"></div>
							</div>
							<div class="r">
								{% if elements %}
								<div class="ovh">
									<span>Состав:</span>
									
									<ul class="catalogue_list">
								    {% for element in elements %}
										<li class="catalogue_categorie">
											<a href="/product/{{ element.flower.get_absolute_url }}">{{ element.flower }}</a>, {{ element.quantity }} шт
										</li>
									{% endfor %}
									</ul>
								</div>
								{% endif %}
								<p>{{ prod.description|safe }}</p>
								<div class="ovh">
									<div class="list_item_price"><em>{{ prod.price }} <span class="rur">p<span>уб.</span></span></em></div>
									
									{% if cart_bttn %}
									<a style="text-decoration: none;" class="popup_link" href = "{% if request.user.is_authenticated %}#popup_recommend_prods{% else %}#popup_login{% endif %}"><div class="submit" id="add_to_cart"><div id = "cart_add">Оформить заказ</div></div></a>
									{% else %}
								    <a style="text-decoration: none;" href = "/add_to_cart/{{ prod.get_absolute_url }}"><div class="submit" id="add_to_cart"><div id = "cart_add">Добавить в корзину</div></div></a>
									{% endif %}
								
								
									
								</div>								
							</div>
						</div>
						
						<div class="video_block">
							{{ prod.promoblock|safe }}
						</div>
						{% if sims %}
						<h2>Похожие {% if is_flower %}товары{% else %}товары{% endif %}<a href="/sims/{{ prod.get_absolute_url }}" class="die_krupps">Все похожие {% if is_flower %}товары{% else %}товары{% endif %}</a></h2>
						<div class="list_block">
							<div class="list">
								<div class="list_">
								{% for sim in sims|slice:":3" %}
								    {% if sim.is_new %}
									<div class="list_item">
										<a href="/product/{{ sim.get_absolute_url }}" class="list_item_img">
										    <div class="new"></div>
											<img src="{{ sim.get_first_image }}" width="170" height="170" border="0" alt="" />
											<div class="list_item_price"><em>{{ sim.price }} р.</em></div>
										</a>
										<div class="list_item_name"><a href="/product/{{ sim.get_absolute_url }}">{{ sim.name }}</a></div>
										<p class="list_item_desc">{{ sim.description }}</p>
									</div>
									{% else %}
									<div class="list_item">
										<a href="/product/{{ sim.get_absolute_url }}" class="list_item_img">
											<img src="{{ sim.get_first_image }}" width="170" height="170" border="0" alt="" />
											<div class="list_item_price"><em>{{ sim.price }} р.</em></div>
										</a>
										<div class="list_item_name"><a href="/product/{{ sim.get_absolute_url }}">{{ sim.name }}</a></div>
										<p class="list_item_desc">{{ sim.description }}</p>
									</div>
									{% endif %}
								{% endfor %}
									
								</div>
							</div>
						</div>
						{% endif %}
	
<script>
 $(document).ready(function(){
	$(".active").removeClass("active");	
		});		
		
</script>	
	
	
</div><!-- End of div.l-->


{% endblock content %}

					{% block bottom_menu %}
						<div class="bottom_menu">
							<div class="l">
								<a href="/">Главная</a>
								<a href="/about">О нас</a>
								<a href="/delivery">Доставка</a>
								<a href="/payment">Оплата</a>
								<a href="/discounts">Скидки</a>
								<a href="/contacts">Контактная информация</a>
							</div>
							
						</div>
					{% endblock bottom_menu %}
					
					
					
{% block pop2 %}
		    <div class="popup" id="popup2" style="display:none">
				<div class="popup_reduser">
					<h2 class="border">Похожие товары<a href="catalog.html" class="breadcrumps"><!--Все рекомендации--></a><span class="popup_close">ЗАКРЫТЬ<em></em></span></h2>
					<div class="list">
						{% for sim in sims|slice:":6" %}
						{% if sim.is_new %}
						<div class="list_item add">
							<a href="/product/{{ sim.get_absolute_url }}" class="list_item_img">
								<img src="{{ sim.image.url }}" width="170" height="170" border="0" alt="" />
								<div class="list_item_price"><em>{{ sim.price }} р.</em></div>
							</a>
							<div class="list_item_name"><a href="/product/{{ sim.get_absolute_url }}">{{ sim.name }}</a></div>
							<p class="list_item_desc">{{ sim.descr }}</p>
							<span class="pseudolink"><span class="add_item_icon"></span>Добавить к заказу</span>
						</div>
						{% else %}
						<div class="list_item add">
							<a href="/product/{{ sim.get_absolute_url }}" class="list_item_img">
								<div class="new"></div>
								<img src="{{ sim.image.url }}" width="170" height="170" border="0" alt="" />
								<div class="list_item_price"><em>{{ sim.price }} р.</em></div>
							</a>
							<div class="list_item_name"><a href="/product/{{ sim.get_absolute_url }}">{{ sim.name }}</a></div>
							<p class="list_item_desc">{{ sim.descr }}</p>
							<span class="pseudolink"><span class="add_item_icon"></span>Добавить к заказу</span>
						</div>						
						{% endif %}
						{% endfor %}
					</div>
					<div class="submit short_padd flr"><a href="#popup3" class="popup_link">Перейти к оформлению</a></div>
					<div class="clear"></div>
				</div>
			</div>
{% endblock pop2 %}

{% block menuscript %}	
<script>
	$(document).ready(function(){
	
		var s = $('a').filter(function(){
			return $(this).text() === "{{cat.name}}";
			});
		
		$(s).css({'color' : 'red'});
		$(s.parent()).addClass('active');
		$(s.parent().parent()).addClass('active');
		$(s.parent().parent().parent()).addClass('active');
		$(s.parent().parent().parent().parent()).addClass('active');
		$(s.parent().parent().parent().parent().parent()).addClass('active');
		$(s.parent().parent().parent().parent().parent().parent()).addClass('active');
		$(s.parent().parent().parent().parent().parent().parent().parent()).addClass('active');
		$(s.parent().parent().parent().parent().parent().parent().parent().parent()).addClass('active');
		$(s.parent().parent().parent().parent().parent().parent().parent().parent().parent()).addClass('active');
		$(s.parent().parent().parent().parent().parent().parent().parent().parent().parent().parent()).addClass('active');
		$(s.parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().parent()).addClass('active');
		
				
		$('#rgt li').click(function(e){
			e.stopPropagation();//Отменяем клик на родительский LI
			if($(this).hasClass('active')){
				$(this).removeClass('active');
			}else{
				$(this).addClass('active');
			}
			
		});
		
		//$("ul.breadcrumbs.active li.active").removeClass('active');
		$("ul.breadcrumbs.active li.active a").css({'color' : '#B3B3B3'});
		
	});
</script>
{% endblock menuscript %}
