{% load mptt_tags %}

<div class="r">
						<div class="adviser_block">
							<h3><a href="#">On-line <br />консультант</a></h3>
							<div class="adviser_img"><img src="{{ STATIC_PREFIX }}i/adviser-operator.png" width="69" height="75" border="0" alt="" /></div>
						</div>
						<div class="yandex_search">
						<div class="ya-site-form ya-site-form_inited_no" onclick="return {'bg': 'transparent', 'target': '_blank', 'language': 'ru', 'suggest': true, 'tld': 'ru', 'site_suggest': true, 'action': 'http://yandex.ru/sitesearch', 'webopt': true, 'fontsize': 12, 'arrow': false, 'fg': '#000000', 'searchid': '2021629', 'logo': 'rb', 'websearch': false, 'type': 3}"><form action="http://yandex.ru/sitesearch" method="get" target="_blank"><input type="hidden" name="searchid" value="2021629" /><input type="hidden" name="l10n" value="ru" /><input type="hidden" name="reqenc" value="" /><input type="text" name="text" value="" /><input type="submit" value="Найти" /></form></div><style type="text/css">.ya-page_js_yes .ya-site-form_inited_no { display: none; }</style><script type="text/javascript">(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0],e=d.documentElement;(' '+e.className+' ').indexOf(' ya-page_js_yes ')===-1&&(e.className+=' ya-page_js_yes');s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Form.init()})})(window,document,'yandex_site_callbacks');</script>	
						</div>
						                     
                       
                      
<style>
    .here{
        color: red;
    }
    
    /*ul.catalogue_list{
        display: none;*/
    }
    
</style>

<!--<script type="text/javascript">

$(document).ready(function(){
		var current_category_name = ("{{ cat.name }}");
        var root_nodes = $('ul.catalogue_list').children();
        root_nodes.each(function(){
            $(this).children().css({'color' : 'red',
                                   'inherit' : 'none',
                                   'display' : 'block',});
            });
        
        
        
        alert (root_nodes.length);
        
        
		});

</script>-->
                        
                        
                        <div class="catalogue_block"> 
							<div class="catalogue_head">
								<span class="arrow"></span>
								<h3>Каталог</h3>
							</div>
                            <div id="rgt" class="rgt">
							<ul class="catalogue_list">
                                
                                {% recursetree nodes %}
                                    <li class="catalogue_categorie">
                                        <a href="/category/{{ node.get_absolute_url }}">{{ node.name }}</a>
                                        {% if not node.is_leaf_node %}
                                            <ul class="children">
                                                {{ children }}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endrecursetree %}
                                
                                
                               
                            </ul>
                            </div>
						</div>
                        
                       
   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <style>
            .rgt li{
                cursor:pointer;
            }
            .rgt ul li ul{
                display: none;
            }
            .rgt .active > ul{
                display:block;
            }
            
            
        </style>
        <script>
            $(document).ready(function(){
                
                //alert("{{cat.name}}");
                //alert(s.text());
                
                
                //var s = $('a:contains("{{cat.name}}")');
                
                var s = $('a').filter(function(){
                    return $(this).text() === "{{cat.name}}";
                    });
                
               
                
                $(s).css({'color' : 'red'});
                $(s.parent()).addClass('active');
                $(s.parent().parent()).addClass('active');
                $(s.parent().parent().parent()).addClass('active');
                $(s.parent().parent().parent().parent()).addClass('active');
                $(s.parent().parent().parent().parent().parent()).addClass('active');
                $(s.parent().parent().parent().parent().parent().parent()).addClass('active');
                $(s.parent().parent().parent().parent().parent().parent().parent()).addClass('active');
                $(s.parent().parent().parent().parent().parent().parent().parent().parent()).addClass('active');
                $(s.parent().parent().parent().parent().parent().parent().parent().parent().parent()).addClass('active');
                
                $(s.parent().parent().parent().parent().parent().parent().parent().parent().parent()).addClass('active');
                $(s.parent().parent().parent().parent().parent().parent().parent().parent().parent().parent()).addClass('active');
                $(s.parent().parent().parent().parent().parent().parent().parent().parent().parent().parent().parent()).addClass('active');
                
                //var papa = $(s).parent();
                //$(s).addClass('active');
                //var papa = $(s).parent();
                //$(papa).parent().css({'display' : 'block'});
                
                
                
                
                
                
                $('#rgt li').click(function(e){
                    e.stopPropagation();//Отменяем клик на родительский LI
                    if($(this).hasClass('active')){
                        $(this).removeClass('active');
                    }else{
                        $(this).addClass('active');
                    }
                    
                });
                
                
                
            });
        </script>
   
    
                      
						<div class="services_block">
							<h2>Услуги</h2>
                            <ul>
                                {% for service in services %}
								<li><a href="/service/{{ service.get_absolute_url }}">{{ service.title }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>