{% load mptt_tags %}
<html>
	<body>
		<ul>
    {% recursetree nodes %}
        <li>
            {{ node.name }}
           
                <ul class="children">
                    {{ children }}					
                </ul>
         
        </li>
    {% endrecursetree %}
</ul>
	</body>
	
</html>