<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="keywords" content="{% block meta_keywords %}{% endblock meta_keywords %}" />
	<meta name="description" content="{% block meta_description %}{% endblock meta_description %}" />
	<title>{% block title %}{% endblock title %}</title>
	<link href="{{ STATIC_PREFIX }}css/main.css" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ STATIC_PREFIX }}css/fancybox.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-1.6.1.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/fancybox.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/fancybox.pack.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jScrollPane.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/cusel.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/fns.js"></script>

	
</head>
<body>
<h1>Test page</h1>	
<form method="POST"  class="application"  accept-charset="UTF-8" action="https://partner.mainpay.ru/a1lite/input/">
  <input type="hidden" name="key" value="czrDLWkwalUPz6cpstNmCoYM7NZl4w/PRdxgZ0ishNo=" />
  <input type="hidden" name="cost" value="{{ total_summ }}" />
  <input type="hidden" name="name" value="{% for item in cart.keys %}{{ item }}&nbsp{% endfor %}" />
  <input type="hidden" name="default_email" value="{{ request.user.email }}" />
  <input type="hidden" name="order_id" value="0" />
  <input type="image" style="border:0;" src="https://partner.mainpay.ru/gui/images/a1lite_buttons/button_small.png" value="Оплатить" />
</form>
</body>
</html>