{% load mptt_tags %}
<html>
	<body>
		<ul>
    {% recursetree nodes %}
        <li>
            {{ node.name }}
			{% if not node.is_leaf_node and node.name = cat.name  %}
                <ul class="children">
                   {{ children }}
                </ul>
			{% endif %}
        </li>
    {% endrecursetree %}
</ul>
	</body>

	
</html>