{% load mptt_tags %}
<html>
	<body>
	
		<ul>
			{% recursetree cat %}
				<li>
					{{ node.name }}
					{% if not node.is_leaf_node %}
						<ul class="children">
							{{ children }}
						</ul>
					{% endif %}
				</li>
			{% endrecursetree %}
		</ul>	
	
	</body>

	
</html>