.menu_bg {
	behavior: url('/i/pie.htc');
	border: 1px solid #a9aaaa;
	position: relative;
	zoom: 1;
}
.menu_item {
	sbackground: url('../i/sprite.png') 50% 0 repeat-x;
	position: relative;
	zoom: 1;
}
.curr.menu_item {
	background: url('../i/sprite.png') 50% -75px no-repeat;
	position: relative;
	zoom: 1;
}
.first .menu_item {
	position: relative;
	border-left: none;
	border-radius: 0px 0px 0px 7px;
	-moz-border-radius: 0px 0px 0px 7px;
	-webkit-border-radius: 0px 0px 0px 7px;
	zoom: 1;
	behavior: url('/i/pie.htc');
}
.last .menu_item {
	border-right: none;
	border-radius: 0px 0px 7px 0px;
	-moz-border-radius: 0px 0px 7px 0px;
	-webkit-border-radius: 0px 0px 7px 0px;
	position: relative;
	zoom: 1;
	behavior: url('/i/pie.htc');
}


.form_btns .submit {
    margin-right: -116px;
    width: 116px;
}
.form_btns .reset {
    margin-left: 137px;
}
.delivery_price_btns {
	margin-left: 320px;
}
.cart_block{
	border: 1px solid #edebe9;
	zoom: 1;
	position: relative;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url('/i/pie.htc');
}
.conteiner_reduser{
	border: 1px solid #edebe9;
	zoom: 1;
	position: relative;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url('/i/pie.htc');
}
.slide_banner_block {
	border: 1px solid #edebe9;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: relative;
	zoom: 1;
	behavior: url('../i/pie.htc');
}
.slide_banner_item h3 span {	
	width: 558px;
	background: url('../i/opacity.png') 0 0 repeat;
	z-index: 1;
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	behavior: url('../i/pie.htc');
}
.adviser_block {
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	behavior: url('../i/pie.htc');
	zoom: 1;
}
.catalogue_head {
    border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	behavior: url('../i/pie.htc');
	position: relative;
	zoom: 1;
}
.list_item_price em {
	position: relative;
	zoom: 1;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url('../i/pie.htc');
}
.fancybox-skin {
	background: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
	zoom: 1;
	behavior: url('../i/pie.htc');
}
.popup_reduser,
.fancybox-desktop,
.fancybox-wrap,
.popup {
	background: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	zoom: 1;
	behavior: url('../i/pie.htc');
}
.form_btns {
	position: relative;
	overflow: hidden;
	zoom: 1;
}
.submit,
.reset {
	position: relative;
	zoom: 1;
	behavior: url('../i/pie.htc');
}
.submit a,
.submit div,
.submit input,
.reset a,
.reset div,
.reset input {
	position: relative;
	zoom: 1;
	behavior: url('../i/pie.htc');
}
.cusel .jScrollPaneContainer {
	zoom: 1;
	behavior: url('../i/pie.htc');
}
#fancybox-overlay {
	background: url('../i/opacity.png') 0 0 repeat;
	zoom: 1;
	behavior: url('../i/pie.htc');
}
.yandex_search {
	position: relative;
	zoom: 1;
}


